<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Formación</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Actuaciones de la organización <span class="fw-semi-bold">en materia de formación</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic+'%'}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Dispone la organización de un PLAN DE FORMACIÓN dirigido a todo el personal de la plantilla</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_510">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_510.value=='si'">
                            <div class="col-md-6 offset-md-2">
                                <p>En caso afirmativo</p>
                            </div>
                            <div class="col-md-8 offset-md-2"><label for="preg_512">A) Especifique los OBJETIVOS del Plan Formativo y a quien se dirige</label></div>
                            <div class="col-md-8 offset-md-2">
                                <textarea rows="3" [readonly]="getValorElemento('data.preg_510')!='si'" class="autogrow form-control transition-height" id="preg_512"
                                    formControlName="preg_512" autosize placeholder="OBJETIVOS del Plan Formativo y a quien se dirige"></textarea>
                            </div>
                            <div class="w-100"></div>

                            <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_513">B) Mencione las personas responsables del plan formativo tanto en la fase de diseño como de ejecución del mismo (indíquese su posición dentro de la organización)</label></div>
                            <div class="col-md-8 offset-md-2">
                                <textarea rows="3" [readonly]="getValorElemento('data.preg_510')!='si'" class="autogrow form-control transition-height" id="preg_513"
                                    formControlName="preg_513" autosize placeholder="Personas responsables del plan formativo"></textarea>
                            </div>
                        </div>
                    </div>



                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Dispone la organización de mecanismos de detección de necesidades formativas?</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_514">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_514.value=='si'">
                            <div class="col-md-6 offset-md-2">
                                <p>En caso afirmativo</p>
                            </div>
                            <div class="col-md-8 offset-md-2"><label for="preg_515">Indíquense cuáles</label></div>
                            <div class="col-md-8 offset-md-2">
                                <textarea rows="3" [readonly]="getValorElemento('data.preg_514')!='si'" class="autogrow form-control transition-height" id="preg_515"
                                    formControlName="preg_515" autosize placeholder="Indíquense cuáles"></textarea>
                            </div>

                            <div class="col-md-8 offset-md-2"><label for="preg_516">En caso de existir oferta formativa, defínanse brevemente lineas esenciales</label></div>
                            <div class="col-md-8 offset-md-2">
                                <textarea rows="3" [readonly]="getValorElemento('data.preg_514')!='si'" class="autogrow form-control transition-height" id="preg_516"
                                    formControlName="preg_516" autosize placeholder="Defínanse brevemente lineas esenciales"></textarea>
                            </div>

                            <div class="col-md-8 offset-md-2"><label for="preg_517">Mencione cuales son los criterios de selección de las personas destinatarias  de la oferta formativa</label></div>
                            <div class="col-md-8 offset-md-2">
                                <textarea rows="3" [readonly]="getValorElemento('data.preg_514')!='si'" class="autogrow form-control transition-height" id="preg_517"
                                    formControlName="preg_517" autosize placeholder="Criterios de selección de las personas destinatarias  de la oferta formativa"></textarea>
                            </div>

                        </div>
                    </div>
                    

                    <!--<div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_10">En caso de existir oferta formativa, defínanse brevemente líneas esenciales</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_514')!='si'" class="autogrow form-control transition-height" id="preg_10"
                                formControlName="preg_10" autosize placeholder="Defínanse brevemente líneas esenciales"></textarea>
                        </div>

                        
                    </div>-->

                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <label for="preg_12">La formación que realiza la organización es obligatoria o voluntaria</label>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_518">
                                <md-radio-button value="si">Voluntaria</md-radio-button>
                                <md-radio-button value="no">Obligatoria</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_518.value=='si'">
                            <div class="col-md-6 offset-md-2">                                
                            </div>
                            <div class="col-md-8 offset-md-2"><label for="preg_519">Especifique si hubiera diferentes tipos</label></div>
                            <div class="col-md-8 offset-md-2">
                                <textarea rows="3" [readonly]="getValorElemento('data.preg_518')!='si'" class="autogrow form-control transition-height" id="preg_519"
                                    formControlName="preg_519" autosize placeholder="Especifique si hubiera diferentes tipos"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend>Percepción de la participación femenina en los cursos de formación interna</legend>
                            <div class="col-md-5 offset-md-2">
                                <p>Marque la frecuencia con la que participan las mujeres</p>
                            </div>
                            <div class="col-md-1 offset-md-2" formGroupName="data">
                                <md-radio-group formControlName="preg_520">
                                    <md-radio-button value="4">Mayoritariamente</md-radio-button>
                                    <md-radio-button value="3">Generalmente</md-radio-button>
                                    <md-radio-button value="2">A veces</md-radio-button>
                                    <md-radio-button value="1">Poco</md-radio-button>
                                    <md-radio-button value="0">Nada</md-radio-button>
                                </md-radio-group>
                            </div>

                            <div class="form-group" style="margin-top:40px">
                                <div class="col-md-9 offset-md-2">
                                    <p>De acuerdo a las ayudas o beneficios para la formación responda las siguientes preguntas</p>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <p>Existe previsión/provisión de ayudas o beneficios para la formación externa</p>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_522">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>

                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_522.value=='si'">
                                    <div class="col-md-9 offset-md-2">
                                        <p>En caso afirmativo indique cuantas personas se benefician de esa formación</p>
                                    </div>

                                    <div class="section" formArrayName="preg_523_tabla_3">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-5 offset-md-2 text-md-center">

                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Mujeres
                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Hombres
                                                </div>
                                            </div>
                                            <div *ngFor="let datos of getPregunta('preg_523_tabla_3').controls; let i=index" [formGroupName]="i">

                                                <div class="row" *ngIf="i==0">
                                                    <div class="col-md-5 offset-md-2 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" readonly value="Cuantas personas se benefician de esa formación" tooltip="Ayudas o beneficios para la formación externa"
                                                                    placeholder="Ayudas o beneficios para la formación externa"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                            </div>
                                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_523_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                                {{serviceErrores.objetoErrores['numerico']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                            </div>
                                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_523_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                                {{serviceErrores.objetoErrores['numerico']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <p>¿Existe formación para el personal en materia de Igualdad de género?</p>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_524">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>

                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_524.value=='si'">
                                    <div class="col-md-9 offset-md-2">
                                        <p>En caso afirmativo </p>
                                    </div>
                                    <div class="section" formArrayName="preg_523_tabla_3">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-5 offset-md-2 text-md-center">
                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Mujeres
                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Hombres
                                                </div>
                                            </div>
                                            <div *ngFor="let datos of getPregunta('preg_523_tabla_3').controls; let i=index" [formGroupName]="i">

                                                <div class="row" *ngIf="i==1">
                                                    <div class="col-md-5 offset-md-2 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" readonly value="Cuantas personas se benefician de esa formación" tooltip="formación para el personal en materia de Igualdad de oportunidades"
                                                                    placeholder="formación para el personal en materia de Igualdad de oportunidades"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                            </div>
                                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_523_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                                {{serviceErrores.objetoErrores['numerico']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                            </div>
                                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_523_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                                {{serviceErrores.objetoErrores['numerico']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div style="margin-top:40px" class="form-group row" formGroupName="data">

                                        <div class="col-md-4 offset-md-2">
                                            <label for="preg_527">A) Indicar su carácter obligatorio o voluntario para el personal</label>
                                        </div>
                                        <div class="col-md-2">
                                            <md-radio-group formControlName="preg_527">
                                                <md-radio-button value="si">Voluntaria</md-radio-button>
                                                <md-radio-button value="no">Obligatoria</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                        <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_528">B) Indicar esquema de CONTENIDOS</label></div>
                                        <div class="col-md-8 offset-md-2">
                                            <textarea rows="3" class="autogrow form-control transition-height" id="preg_528" formControlName="preg_528" autosize placeholder="Indicar esquema de CONTENIDOS"></textarea>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_529">Mencione las estrategias de difusión de los planes de formación realizado en la organización</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_529" formControlName="preg_529" autosize placeholder="Mencione las estrategias de difusión de los planes de formación realizado en la organización"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <label for="preg_530">¿Puede solicitar el personal la asistencia a cualquier curso impartido en el Plan de Formación de la organización o de otras admones? </label>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_530">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>

                                <div class="form-group" formGroupName="data">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <label>De acuerdo a los lugares en los que realizan las formaciones en la organización responda las siguientes preguntas teniendo en cuenta la frecuencia en que se hacen en terminada situaciones:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_532">En el lugar de trabajo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_532">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_533">Fuera del lugar de trabajo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_533">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_534">Online</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_534">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_535">En jornada laboral</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_535">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_536">Fuera de la jornada laboral</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_536">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_537">Mixta (dentro y fuera de la jornada laboral)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_537">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_538">En caso en que la organización realice cursos de formación fuera del horario laboral mencione de que tipo son y a que miembros de la organización van dirigidos</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_538" formControlName="preg_538" autosize placeholder="Mencione de que tipo son y a que miembros de la organización van dirigidos"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_539"> ¿Se ofrecen facilidades o compensaciones si los cursos se ofrecen fuera del horario laboral?</label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_539">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_539.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_540">¿De qué tipo?</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_539')!='si'" class="autogrow form-control transition-height" id="preg_540"
                                            formControlName="preg_540" autosize placeholder="Tipo"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_541"> ¿Se ofrece la posibilidad de recibir formación que no esté directamente relacionada con el puesto de trabajo?</label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_541">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_541.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 offset-md-2"><label for="preg_542">¿Esta posibilidad está abierta a todo el personal contratado y plantilla?</label></div>
                                        <div class="col-md-2">
                                            <md-radio-group formControlName="preg_542">
                                                <md-radio-button value="si">Si</md-radio-button>
                                                <md-radio-button value="no">No</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-8 offset-md-2">
                                    Tipo de formación no asociada al puesto de trabajo
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_539')!='si'" class="autogrow form-control transition-height" id="preg_542"
                                        formControlName="preg_542" autosize placeholder="¿Esta posibilidad está abierta a toda la plantilla?"></textarea>
                                </div>-->
                            </div>
                            <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_541.value=='si'">
                                <div class="col-md-9 offset-md-2">
                                    <p>En caso afirmativo indique cuantas personas se benefician de esa formación</p>
                                </div>
                                <div class="section" formArrayName="preg_543_tabla_3">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-7 offset-md-2 text-md-center">

                                            </div>
                                            <div class="col-md-1 text-md-center">
                                                Nº Mujeres
                                            </div>
                                            <div class="col-md-1 text-md-center">
                                                Nº Hombres
                                            </div>
                                        </div>
                                        <div *ngFor="let datos of getPregunta('preg_543_tabla_3').controls; let i=index" [formGroupName]="i">

                                            <div class="row">
                                                <div class="col-md-7 offset-md-2 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" readonly formControlName="texto" tooltip="Formación no relacionada con puesto trabajo" placeholder="Formación no relacionada con puesto trabajo"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                        </div>
                                                        <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_543_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                            {{serviceErrores.objetoErrores['numerico']}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                        </div>
                                                        <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_543_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                            {{serviceErrores.objetoErrores['numerico']}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formArrayName="preg_545_tabla_3">
                        <fieldset>
                            <legend>Teniendo en cuenta la situación de la empresa en formación complete la siguiente información:</legend>
                            <div class="row">

                                <div class="col-md-7 offset-md-2 text-md-center">
                                    Formación
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_545_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-7 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" readonly formControlName="texto" tooltip="Formación" placeholder="Formación" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_545_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_545_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 ">
                                    <div class="form-group">
                                        <div class="text-md-right">
                                            TOTAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalMujeres(ifForm.controls.preg_545_tabla_3)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalHombres(ifForm.controls.preg_545_tabla_3)}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formArrayName="preg_546_tabla_3">
                        <fieldset>
                            <legend>Número de personas beneficiarias según grupo o categoría profesional</legend>
                            <div class="row">

                                <div class="col-md-3 offset-md-2 text-md-center">
                                    Categoría
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_546_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="texto" tooltip="Categoría" placeholder="Categoría" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_546_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_546_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 offset-md-2 ">
                                    <div class="form-group">
                                        <div class="text-md-right">
                                            TOTAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalMujeres(ifForm.controls.preg_546_tabla_3)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalHombres(ifForm.controls.preg_546_tabla_3)}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_546_tabla_3)!= getTotalMujeres(ifForm.controls.preg_545_tabla_3) || getTotalHombres(ifForm.controls.preg_546_tabla_3) != getTotalHombres(ifForm.controls.preg_545_tabla_3) || getTotalTotal(ifForm.controls.preg_546_tabla_3)!= getTotalTotal(ifForm.controls.preg_545_tabla_3)">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información en personas beneficiarias según grupo no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>