<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item active">Información Básica</li>
</ol>
<h1 class="page-title">Información <span class="fw-semi-bold">Básica</span></h1>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <fieldset>
                        <legend>Datos de la <strong>Empresa</strong></legend>

                        <div class="form-group row">
                            <label class="col-md-3  col-form-label text-md-right" for="empresa">RAZÓN SOCIAL EMPRESA PÚBLICA / ADMON PÚBLICA</label>
                            <div class="col-md-8 ">
                                <input type="text" formControlName="user->empresa" class="form-control" tooltip="RAZÓN SOCIAL EMPRESA PÚBLICA / ADMON PÚBLICA"
                                    placeholder="RAZÓN SOCIAL EMPRESA PÚBLICA / ADMON PÚBLICA" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3  col-form-label text-md-right" for="cif">CIF</label>
                            <div class="col-md-8 ">
                                <input type="text" class="form-control" formControlName="cif" tooltip="CIF" placeholder="CIF" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3  col-form-label text-md-right" for="ambito">Ámbito de Administración</label>
                            <div class="col-md-8 ">
                                <input type="text" class="form-control" formControlName="ambito" tooltip="Ámbito" placeholder="Ámbito" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3  col-form-label text-md-right" for="convenio">Convenio Colectivo</label>
                            <div class="col-md-8 ">
                                <input type="text" class="form-control" formControlName="convenio" tooltip="Convenio Colectivo" placeholder="Convenio Colectivo"
                                />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3  col-form-label text-md-right" for="domicilio">Domicilio social</label>
                            <div class="col-md-8 ">
                                <input type="text" class="form-control" formControlName="domicilio" tooltip="Domicilio social" placeholder="Domicilio social"
                                />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3  col-form-label text-md-right" for="web">Web</label>
                            <div class="col-md-8 ">
                                <input type="text" class="form-control" formControlName="web" tooltip="Web" placeholder="Web" />
                            </div>
                        </div>

                    </fieldset>

                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend>Información de <strong>Contacto</strong></legend>
                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="personas">Personas de contacto</label>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="personas" tooltip="Personas de contacto" placeholder="Personas de contacto"
                                    />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="personas">Teléfono Fijo y Móvil</label>
                                <div class="col-md-4 ">
                                    <input type="text" class="form-control" formControlName="personas" tooltip="Personas de contacto" placeholder="Personas de contacto"
                                    />
                                </div>

                                <label class="col-md-1  col-form-label text-md-right" for="email">E-Mail</label>
                                <div class="col-md-3 ">
                                    <input type="text" class="form-control" formControlName="email" tooltip="E-Mail" placeholder="E-Mail" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="personas">Personas de contacto</label>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="personas" tooltip="Personas de contacto" placeholder="Personas de contacto"
                                    />
                                </div>
                            </div>

                            <div class="row">&nbsp;</div>

                            <h4>Fecha de cumplimentación</h4>
                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="dia">Día</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" formControlName="dia" tooltip="Día" placeholder="Día" />
                                </div>

                                <label class="col-md-1  col-form-label text-md-right" for="mes">Mes</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" formControlName="mes" tooltip="Mes" placeholder="Mes" />
                                </div>

                                <label class="col-md-1  col-form-label text-md-right" for="anyo">Año</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" formControlName="anyo" tooltip="Año" placeholder="Año" />
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <div class="abc-checkbox abc-checkbox-primary">

                                <input id="preg_1" type="checkbox" formControlName="preg_1" />
                                <label for="preg_1">
                    ¿Desarrolla la organización actividades diferenciadas? ¿Existe algún organismo autónomo?
                  </label>
                            </div>
                            <p>En caso afirmativo, detállense las actividades y los centros en que se desarrollan. Por ejemplo,
                                si existe una Empresa Pública de Contratación, Conservatorio, etc., y rellene una herramienta
                                por cada organización.</p>

                            <legend>Centro / Actividad</legend>
                            <div class="row">
                                <div class="col-md-5 ">
                                    <div class="form-group">
                                        <label>Centro:</label>
                                    </div>
                                </div>
                                <div class="col-md-5 ">
                                    <div class="form-group">
                                        <label>Actividad:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_2_tabla_2">
                                <div *ngFor="let centroact of preg_2_tabla_2.controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="centro" tooltip="Centro" placeholder="Centro" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="actividad" tooltip="Actividad" placeholder="Actividad" />
                                                </div>
                                            </div>
                                        </div>
                                        <span *ngIf="preg_2_tabla_2.controls.length > 1">
                        <button type="button"(click)="removeCentroActividad(i)" class="btn btn-danger btn-xs mb-xs">borra</button>
                        
                    </span>

                                    </div>
                                </div>
                                <button (click)="addCentroActividad()" type="button" class="btn btn-success btn-xs mb-xs">Añade Centro/Actividad</button>
                            </div>



                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend><strong>ÓRGANO DE TOMA DE DECISIONES</strong></legend>
                            <div class="form-group row">
                                <label class="col-md-2  col-form-label text-md-right" for="preg_3">Denominación</label>
                                <div class="col-md-6 ">
                                    <input type="text" formControlName="preg_3" class="form-control" tooltip="Denominación" placeholder="Denominación" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2  col-form-label text-md-right">Composición de órgano</label>
                                <label class="col-md-1  col-form-label text-md-right" for="preg_5">Mujeres</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" formControlName="preg_5" tooltip="Mujeres" placeholder="Mujeres" />
                                </div>

                                <label class="col-md-1  col-form-label text-md-right" for="preg_6">Hombres</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" formControlName="preg_6" tooltip="Hombres" placeholder="Hombres" />
                                </div>

                                <label class="col-md-1  col-form-label text-md-right" for="total">Total</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" tooltip="Total" placeholder="Total" />
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend><strong>POLÍTICAS DE IGUALDAD DE OPORTUNIDADES ENTRE MUJERES Y HOMBRES</strong></legend>
                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización, ¿dispone de estructuras, programas de actuación, guías de buenas prácticas o cualesquiera medidas específicas
                                    (sectoriales o pactadas ) en materia de igualdad de oportunidades entre mujeres y hombres?
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg19" id="preg19si" value="si">
                                        <label for="preg19si">Si</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg19" id="preg19no" value="no">
                                        <label for="preg19no">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización, ¿dispone de estructuras, programas de actuación, guías de buenas prácticas o cualesquiera medidas específicas
                                    (sectoriales o pactadas) en materia de conciliación de la vida laboral y familiar?
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg20" id="preg20si" value="si">
                                        <label for="preg20si">Si</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg20" id="preg20no" value="no">
                                        <label for="preg20no">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización, ¿dispone de estructuras, programas de actuación, guías de buenas prácticas o cualesquiera medidas específicas
                                    (sectoriales o pactadas) en materia de violencia de género?
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg21" id="preg21si" value="si">
                                        <label for="preg21si">Si</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg21" id="preg21no" value="no">
                                        <label for="preg21no">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización ¿ha incorporado en su dinámica de contratación cláusulas sociales con perspectiva de género?
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg22" id="preg22si" value="si">
                                        <label for="preg22si">Si</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg22" id="preg22no" value="no">
                                        <label for="preg22no">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización ¿ha realizado informes de impacto de género? </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg23" id="preg23si" value="si">
                                        <label for="preg23si">Si</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="abc-radio">
                                        <input type="radio" name="preg23" id="preg23no" value="no">
                                        <label for="preg23no">No</label>
                                    </div>
                                </div>
                            </div>

                            <p class="text-danger">En caso de marcar "Sí" en alguna de las opciones anteriores, será importante proporcionar esta
                                información (Guías, programas, memorias, informes, etc.) a Equality Momentum</p>
                        </fieldset>
                    </div>



                    <div class="form-actions">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button type="button" (click)="onSubmit2()" class="btn btn-success">Siguiente</button>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                <button type="button" class="btn btn-inverse">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>