<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Información Básica </li>
</ol>



<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Información <span class="fw-semi-bold">Básica</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{(respondidasSeccion*100)/totalSeccion}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div formGroupName="user">
                        <fieldset>
                            <legend>Datos de la <strong>Empresa</strong></legend>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="empresa">RAZÓN SOCIAL EMPRESA PÚBLICA / ADMON PÚBLICA</label>
                                <div class="col-md-8 ">
                                    <input type="text" formControlName="empresa" class="form-control" tooltip="RAZÓN SOCIAL EMPRESA PÚBLICA / ADMON PÚBLICA"
                                        placeholder="RAZÓN SOCIAL EMPRESA PÚBLICA / ADMON PÚBLICA" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="cif">CIF</label>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="cif" tooltip="CIF" placeholder="CIF" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="ambito">Ámbito de Administración</label>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="ambito" tooltip="Ámbito" placeholder="Ámbito" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="convenio">Convenio Colectivo</label>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="convenio" tooltip="Convenio Colectivo" placeholder="Convenio Colectivo"
                                    />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="domicilio">Domicilio social</label>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="domicilio" tooltip="Domicilio social" placeholder="Domicilio social"
                                    />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3  col-form-label text-md-right" for="web">Web</label>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="web" tooltip="Web" placeholder="Web" />
                                </div>
                            </div>

                        </fieldset>

                        <div class="section" style="margin-top:40px">
                            <fieldset>
                                <legend>Información de <strong>Contacto</strong></legend>
                                <div class="form-group row">
                                    <label class="col-md-3  col-form-label text-md-right" for="personas">Personas de contacto</label>
                                    <div class="col-md-8 ">
                                        <input type="text" class="form-control" formControlName="personas" tooltip="Personas de contacto" placeholder="Personas de contacto"
                                        />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3  col-form-label text-md-right" for="telefonos">Teléfono Fijo y Móvil</label>
                                    <div class="col-md-4 ">
                                        <input type="text" class="form-control" formControlName="telefonos" tooltip="Teléfono Fijo y Móvil" placeholder="Teléfono Fijo y Móvil"
                                        />
                                    </div>

                                    <label class="col-md-1  col-form-label text-md-right" for="email">E-Mail</label>
                                    <div class="col-md-3 ">
                                        <input type="text" class="form-control" formControlName="email" tooltip="E-Mail" placeholder="E-Mail" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3  col-form-label text-md-right" for="horarios">Horario</label>
                                    <div class="col-md-8 ">
                                        <input type="text" class="form-control" formControlName="horarios" tooltip="Horario" placeholder="Horario" />
                                    </div>
                                </div>

                                <div class="row">&nbsp;</div>
                            </fieldset>
                            <fieldset>
                                <legend>Fecha de <strong>cumplimentación</strong></legend>
                                <div class="form-group row">
                                    <label class="col-md-3  col-form-label text-md-right" for="personas">Fecha</label>
                                    <div class="col-md-3 ">
                                        <div class="input-group date">
                                            <input class="form-control" formControlName="created_at" type="date" placeholder="Choose date">
                                            <div class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </div>
                                        </div>
                                        <!-- <datepicker formControlName="created_at" [startingDay]=1 [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>-->
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <div  formGroupName="data">
                            <md-checkbox formControlName="preg_1">
                            ¿Desarrolla la organización actividades diferenciadas? ¿Existe algún organismo autónomo?
                            </md-checkbox>
                            </div>

                          <!--   <div class="abc-checkbox abc-checkbox-primary" formGroupName="data">

                                <input id="preg_1" type="checkbox" formControlName="preg_1" />
                                <label for="preg_1">
                    ¿Desarrolla la organización actividades diferenciadas? ¿Existe algún organismo autónomo?
                  </label>
                            </div> -->
                            <p>En caso afirmativo, detállense las actividades y los centros en que se desarrollan. Por ejemplo,
                                si existe una Empresa Pública de Contratación, Conservatorio, etc., y rellene una herramienta
                                por cada organización.</p>

                            <legend>Centro / Actividad</legend>
                            <div class="row">
                                <div class="col-md-5 ">
                                    <div class="form-group">
                                        <label>Centro:</label>
                                    </div>
                                </div>
                                <div class="col-md-5 ">
                                    <div class="form-group">
                                        <label>Actividad:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_2_tabla_2">
                                <div *ngFor="let centroact of preg_2_tabla_2.controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="centro" tooltip="Centro" placeholder="Centro" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="actividad" tooltip="Actividad" placeholder="Actividad" />
                                                </div>
                                            </div>
                                        </div>
                                        <span *ngIf="preg_2_tabla_2.controls.length > 1">
                        <button type="button"(click)="removeCentroActividad(i)" class="btn btn-danger btn-xs mb-xs">borra</button>
                        
                    </span>

                                    </div>
                                </div>
                                <button (click)="addCentroActividad()" type="button" class="btn btn-success btn-xs mb-xs">Añade Centro/Actividad</button>
                            </div>



                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <legend><strong>ÓRGANO DE TOMA DE DECISIONES</strong></legend>
                            <div class="form-group row">
                                <label class="col-md-2  col-form-label text-md-right" for="preg_3">Denominación</label>
                                <div class="col-md-6 ">
                                    <input type="text" formControlName="preg_3" class="form-control" tooltip="Denominación" placeholder="Denominación" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2  col-form-label text-md-right">Composición de órgano</label>
                                <label class="col-md-1  col-form-label text-md-right" for="preg_5">Mujeres</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" formControlName="preg_5" tooltip="Mujeres" placeholder="Mujeres" />
                                </div>

                                <label class="col-md-1  col-form-label text-md-right" for="preg_6">Hombres</label>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" formControlName="preg_6" tooltip="Hombres" placeholder="Hombres" />
                                </div>

                                <label class="col-md-1  col-form-label text-md-right" for="total">Total</label>
                                <div class="col-md-1 ">
                                    {{ getTotal() }}
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <legend><strong>POLÍTICAS DE IGUALDAD DE OPORTUNIDADES ENTRE MUJERES Y HOMBRES</strong></legend>
                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización, ¿dispone de estructuras, programas de actuación, guías de buenas prácticas o cualesquiera medidas específicas
                                    (sectoriales o pactadas) en materia de violencia de género?
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_18">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>

                                
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización, ¿dispone de estructuras, programas de actuación, guías de buenas prácticas o cualesquiera medidas específicas
                                    (sectoriales o pactadas ) en materia de igualdad de oportunidades entre mujeres y hombres?
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_19">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización, ¿dispone de estructuras, programas de actuación, guías de buenas prácticas o cualesquiera medidas específicas
                                    (sectoriales o pactadas) en materia de conciliación de la vida laboral y familiar?
                                </div>
                                 <div class="col-md-2">
                                    <md-radio-group formControlName="preg_20">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>



                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización ¿ha incorporado en su dinámica de contratación cláusulas sociales con perspectiva de género?
                                </div>
                                 <div class="col-md-2">
                                    <md-radio-group formControlName="preg_22">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 ">
                                    La organización ¿ha realizado informes de impacto de género? </div>
                                 <div class="col-md-2">
                                    <md-radio-group formControlName="preg_23">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                            <p class="text-danger">En caso de marcar "Sí" en alguna de las opciones anteriores, será importante proporcionar esta
                                información (Guías, programas, memorias, informes, etc.) a Equality Momentum</p>
                        </fieldset>
                    </div>



                    <div class="form-actions">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button type="button" (click)="onSubmit2()" class="btn btn-success">Siguiente</button>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                <button type="button" class="btn btn-inverse">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>