<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Acceso al empleo</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Selección de <span class="fw-semi-bold">Personal</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>





<form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">


                    <div class="section" style="margin-top:40px" formArrayName="preg_87">
                        <p>Marque cuales son los factores determinantes de la apertura de un proceso de selección y contratación
                            en la organización</p>
                        <fieldset>
                            <legend><strong>Factores</strong></legend>
                            <div class="col-md-10 offset-md-2">
                                <div class="row">
                                    <div *ngFor="let datos of getPregunta('preg_87').controls; let i=index" [formGroupName]="i" class="col-md-6">
                                        <md-checkbox formControlName="valor1">
                                            {{ifForm.controls.preg_87.value[i].texto}}
                                        </md-checkbox>
                                        <div class="col-md-6" *ngIf="i==5">
                                            <input [readonly]="!ifForm.controls.preg_87.value[i].valor1" type="text" class="form-control" formControlName="texto1" tooltip="Otros"
                                                placeholder="Otros" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formArrayName="preg_88">
                        <p>Cual de las siguientes estrategias de reclutamiento son utilizada por la organización para la realización
                            de procesos de selección</p>
                        <fieldset>
                            <legend><strong>Estrategias</strong></legend>
                            <div class="col-md-10 offset-md-2">
                                <div class="row">
                                    <div *ngFor="let datos of getPregunta('preg_88').controls; let i=index" [formGroupName]="i" class="col-md-6">
                                        <md-checkbox formControlName="valor1">
                                            {{ifForm.controls.preg_88.value[i].texto}}
                                        </md-checkbox>
                                        <div class="col-md-6" *ngIf="i==5">
                                            <input [readonly]="!ifForm.controls.preg_88.value[i].valor1" type="text" class="form-control" formControlName="texto1" tooltip="Otros"
                                                placeholder="Otros" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <p>Determinación del perfil de los puestos de trabajo</p>
                        <fieldset>
                            <legend><strong>Indicar el procedimiento y  órgano/s implicado/s en el mismo</strong></legend>

                            <div class="row">
                                <div class="col-md-8 offset-md-2">

                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_13txt" formControlName="preg_89" autosize placeholder="Procedimiento y órgano"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formArrayName="preg_90">
                        <p>Métodos de selección utilizados</p>
                        <fieldset>
                            <legend><strong>Métodos</strong></legend>
                            <div class="col-md-10 offset-md-2">
                                <div class="row">
                                    <div *ngFor="let datos of getPregunta('preg_90').controls; let i=index" [formGroupName]="i" class="col-md-6">
                                        <md-checkbox formControlName="valor1">
                                            {{ifForm.controls.preg_90.value[i].texto}}
                                        </md-checkbox>
                                        <div class="col-md-6" *ngIf="i==6">
                                            <input [readonly]="!ifForm.controls.preg_90.value[i].valor1" type="text" class="form-control" formControlName="texto1" tooltip="Otros"
                                                placeholder="Otros" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>



                </div>
            </section>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <div class="section" style="margin-top:40px" formArrayName="preg_95">
                        <p><strong> INFORMACIÓN CUALITATIVA. INGRESO EN LA ORGANIZACIÓN</strong></p>
                        <fieldset>
                            <legend>Factores determinantes de la apertura de un proceso de selección y contratación</legend>
                            <div class="col-md-10 offset-md-2">
                                <div class="row">
                                    <div *ngFor="let datos of getPregunta('preg_95').controls; let i=index" [formGroupName]="i" class="col-md-10">
                                        <md-checkbox formControlName="valor1">
                                            {{ifForm.controls.preg_95.value[i].texto}}
                                        </md-checkbox>
                                        <div class="col-md-6" *ngIf="i==1">
                                            <input [readonly]="!ifForm.controls.preg_95.value[i].valor1" type="text" class="form-control" formControlName="texto1" tooltip="Otros"
                                                placeholder="Otros" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                   

                    <!-- 
                        <div class="section" style="margin-top:40px" formGroupName="data">
                            <p><strong> INFORMACIÓN CUALITATIVA. INGRESO EN LA ORGANIZACIÓN</strong></p>
                            <fieldset>
                                <legend>Factores determinantes de la apertura de un proceso de selección y contratación</legend>
                                <div class="row">
                                    <div class="col-md-5 offset-md-2">
                                        <div class="abc-checkbox abc-checkbox-primary">
                                            <input id="preg_21" type="checkbox" formControlName="preg_21" />
                                            <label for="preg_21">Los criterios de selección de carácter profesional para cada grupo, categoría o puesto de trabajo aparecen especificados en el Convenio Colectivo aplicable o en un acuerdo colectivo específico</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="abc-checkbox abc-checkbox-primary">
                                            <input id="preg_22" type="checkbox" formControlName="preg_22" />
                                            <label for="preg_22">La organización dispone de RPT (Relación de Puestos de Trabajo) aprobada desde:</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-md-7">
                                        <input [readonly]="!getValorElemento('data.preg_22')" type="text" class="form-control" formControlName="preg_22txt" tooltip="RPT"
                                            placeholder="RPT" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label class="col-form-label text-md-left" for="preg_23txt">
                                        a) Mencione los criterios profesionales de aplicación general, en su caso, a todos los grupos, categorías y puestos de trabajo:
                                        </label>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_23txt" formControlName="preg_23txt" autosize
                                            placeholder="Criterios aplicación general"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label class="col-form-label text-md-left" for="preg_23txt">
                                        b) Menciones los criterios profesionales específicos, de aplicación sólo a ciertos grupos, categorías y puestos de trabajo (con indicación de a qué grupos, categorías o puestos se asocian):
                                        </label>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_24txt" formControlName="preg_24txt" autosize
                                            placeholder="Criterios aplicación a ciertos grupos"></textarea>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:40px">

                                    <div class="col-md-8 offset-md-2">
                                        <div class="abc-checkbox abc-checkbox-primary">
                                            <input id="preg_25" type="checkbox" formControlName="preg_25" />
                                            <label for="preg_25">La organización no dispone de criterios de selección profesionales formalizados y/o documentados</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:40px">
                                    <div class="row">
                                        <div class="col-md-10 offset-md-2">
                                            <strong> Identificación de los criterios de selección PERSONALES (aunque se apliquen de manera no formalizada)</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 offset-md-2">
                                            ¿En el caso de realizar entrevistas personales en el proceso selectivo, aplica la organización criterios de selección de
                                            carácter PERSONAL?
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 offset-md-2">
                                            <md-radio-group formControlName="preg_26">
                                                <md-radio-button value="si">Si</md-radio-button>
                                                <md-radio-button value="no">No</md-radio-button>
                                            </md-radio-group>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    -->
                    <p>En caso afirmativo, identifíquense en los listados siguientes.</p>
                    <div class="section" style="margin-top:40px" formArrayName="preg_101">
                        <fieldset>
                            <legend><strong>CRITERIOS  DE  SELECCIÓN  PERSONALES  con  carácter  general  (para cualquier grupo profesional, categoría o puesto de trabajo)</strong></legend>
                            <div class="col-md-10 offset-md-2">
                                <div class="row">
                                    <div *ngFor="let datos of getPregunta('preg_101').controls; let i=index" [formGroupName]="i" class="col-md-4">
                                        <md-checkbox formControlName="valor1">
                                            {{ifForm.controls.preg_101.value[i].texto}}
                                        </md-checkbox>
                                        <div class="col-md-6" *ngIf="i==20">
                                            <input [readonly]="!ifForm.controls.preg_101.value[i].valor1" type="text" class="form-control" formControlName="texto1" tooltip="Otros"
                                                placeholder="Otros" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </fieldset>

                    </div>

                    <!-- 
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <div formGroupName="data">
                                <div class="row">
                                    <div class="col-md-10 offset-md-2">
                                        <strong> ¿Aplica la organización criterios de selección de carácter PERSONAL aplicados de manera particular a alguna categoría o puesto?</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <md-radio-group formControlName="preg_36">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>

                                    <div class="w-100"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo, identifíquense en los listados siguientes.</p>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_100_tabla_3">
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">Criterio</div>
                                    <div class="col-md-6">GRUPOS/CATEGORÍAS PROFESIONALES</div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_100_tabla_3').controls; let i=index" [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-md-2 offset-md-2">
                                            <div class="abc-checkbox abc-checkbox-primary">
                                                <input id="criterio" type="checkbox" formControlName="criterio" />
                                                <label for="criterio">{{ifForm.controls.preg_100_tabla_3.value[i].definicion}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="grupo" tooltip="GRUPOS/CATEGORÍAS PROFESIONALES" placeholder="GRUPOS/CATEGORÍAS PROFESIONALES"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <p><strong>GESTIÓN DEL PROCESO DE SELECCIÓN DE PERSONAL Y TOMA DE DECISIONES</strong></p>
                        <fieldset>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label for="preg_37txt">Enumera las fases del proceso de selección</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_37txt" formControlName="preg_37txt" autosize
                                            placeholder="Enumera las fases del proceso de selección"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label for="preg_38txt">Enumera los órganos implicados en el proceso de selección</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_38txt" formControlName="preg_38txt" autosize
                                            placeholder="Enumera los órganos implicados en el proceso de selección"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label for="preg_39txt">Mencione el órgano u órganos a quienes corresponde la decisión final sobre la selección del personal y su incorporación a la organización</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_39txt" formControlName="preg_39txt" autosize
                                            placeholder="Mencione el órgano u órganos a quienes corresponde la decisión final sobre la selección del personal y su incorporación a la organización"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <p>Marque "Sí" o "No" a las siguientes preguntas</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 offset-md-2">
                                        <strong>¿Se realizan publicaciones internas de las vacantes disponibles en la organización?</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <md-radio-group formControlName="preg_40">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>

                                    <div class="w-100"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label for="preg_40txt">En caso afirmativo, menciones qué sistema se realiza para realizar la publicación:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <textarea [readonly]="getValorElemento('data.preg_40')!='si'" rows="3" class="autogrow form-control transition-height" id="preg_40txt"
                                            formControlName="preg_40txt" autosize placeholder="Menciones qué sistema se realiza para realizar la publicación"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10 offset-md-2">
                                        <strong>¿Observa barreras internas, externas o sectoriales para la incorporación de mujeres en la organización?</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <md-radio-group formControlName="preg_41">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <div class="w-100"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label for="preg_41txt">En caso afirmativo por favor indique en qué sectores y categorías</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <textarea [readonly]="getValorElemento('data.preg_41')!='si'" rows="3" class="autogrow form-control transition-height" id="preg_41txt"
                                            formControlName="preg_41txt" autosize placeholder="Sectores y categorías"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10 offset-md-2">
                                        <strong>¿Observa que existan servicios o puestos en la organización que estén especialmente masculinizados (mayoría de hombres)?</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <md-radio-group formControlName="preg_42">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>

                                    <div class="w-100"></div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label for="preg_42txt">En caso afirmativo indique qué tipo de puestos y las razones que lo provocan</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <textarea [readonly]="getValorElemento('data.preg_42')!='si'" rows="3" class="autogrow form-control transition-height" id="preg_42txt"
                                            formControlName="preg_42txt" autosize placeholder="Tipo de puestos y las razones que lo provocan"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>


-->

                    <div class="section" style="margin-top:40px" formArrayName="preg_117_tabla_2">
                        <fieldset>
                            <legend><strong>Teniendo en cuenta los siguientes criterios, marque el nivel de influencia que cada uno de estos tiene en el proceso de selección de la organización.</strong></legend>
                            <div class="row">

                                <div class="col-md-4 offset-md-2 text-md-center">
                                    Criterio
                                </div>
                                <div class="col-md-3 text-md-center">
                                    Tipo de influencia
                                </div>



                            </div>
                            <div *ngFor="let datos of getPregunta('preg_117_tabla_2').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-4 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" [readonly]="i<20" formControlName="criterio" tooltip="Criterio" placeholder="Criterio" />
                                            </div>
                                        </div>
                                    </div>
                                    <div clas="col-md-3">
                                        <md-radio-group formControlName="tipoInfluencia">
                                            <md-radio-button value="1">Positivo</md-radio-button>
                                            <md-radio-button value="2">Negativo</md-radio-button>
                                            <md-radio-button value="3">indiferente</md-radio-button>
                                        </md-radio-group>
                                    </div>

                                    <div class="col-md-1 ">
                                        <span *ngIf="i > 19">
                                     <button type="button"(click)="removeFila(ifForm.controls.preg_117_tabla_2, i)" class="btn btn-danger btn-xs mb-xs">borra</button> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 offset-md-2">
                                    <button (click)="addFila(ifForm.controls.preg_117_tabla_2)" type="button" class="btn btn-success btn-xs mb-xs">Añade Criterio</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </section>
        </div>
    </div>




</form>