<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Formación</li>
</ol>
<h1 class="page-title"><span class="fw-semi-bold">Formación</span></h1>


<accordion [closeOthers]="true" class="mb-lg show" id="accordion">
    <accordion-group isOpen="true">
        <div accordion-heading>
            Ayudas formación externa
            <i class="fa fa-angle-down float-xs-right"></i>
        </div>
        <div>
            <div class="col-lg-12">
                <section class="widget" widget>
                    <div class="widget-body">

                        <div class="row">
                            <div class="col-md-5">
                                <fieldset>
                                    <legend><strong>Ayudas formación externa</strong></legend>
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                            <tr>
                                                <th>Total</th>
                                                <th>Mujeres </th>
                                                <th>% Mujeres </th>
                                                <th>Hombres </th>
                                                <th>% Hombres </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td class="text-md-right">{{getTotalCompoPlantilla()}}</td>
                                            <td class="text-md-right">{{getMujeresPlantilla()}}</td>
                                            <td class="text-md-right">{{getMujeresPlantillaPorcentaje() | number : '1.2-2'}}%</td>
                                            <td class="text-md-right">{{getHombresPlantilla()}}</td>
                                            <td class="text-md-right">{{getHombresPlantillaPorcentaje() | number : '1.2-2'}}%</td>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <section class="widget" widget>
                                    <header>
                                        <h5>
                                            Ayudas formación externa
                                        </h5>
                                    </header>                                    
                                    <div class="widget-body">
                                        <chart [options]="chart1pieoptions"></chart>         
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </accordion-group>
    <accordion-group>
        <div accordion-heading>
            Formación
            <i class="fa fa-angle-down float-xs-right"></i>
        </div>        
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>
                                    <strong>Formación</strong>
                                </legend>

                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-md-center">Formación</th>
                                            <th class="text-md-center">Nº de Mujeres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Nº de Hombres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Total</th>
                                            <th class="text-md-center">Nº Mujeres absoluto</th>
                                            <th class="text-md-center">Nº Hombres absoluto</th>
                                            <th class="text-md-center">Total absoluto</th>
                                            <th class="text-md-center">% Mujeres absoluto</th>
                                            <th class="text-md-center">% Hombres absoluto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Banda 2 -->
                                        <tr *ngFor="let item of modelo.preg_199_tabla_3; let i=index">
                                            <td class="text-md-center">{{item.texto}}</td>
                                            <td class="text-md-center">{{item.mujeres}}</td>
                                            <td class="text-md-center">{{funciones.getMujeresDeFila(item, modelo.preg_199_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{item.hombres}}</td>
                                            <td class="text-md-center">{{funciones.getHombresDeFila(item, modelo.preg_199_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{funciones.getSumaFila(item)}}</td>
                                            <td class="text-md-center">{{funciones.getMujeresAbs(item, modelo.preg_199_tabla_3)}}</td>
                                            <td class="text-md-center">{{funciones.getHombresAbs(item, modelo.preg_199_tabla_3)}}</td>
                                            <td class="text-md-center">{{(funciones.getTotalAbs(item, modelo.preg_199_tabla_3))}}</td>
                                            <td class="text-md-center">{{funciones.getPorcMujeresAbs(item,modelo.preg_199_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{funciones.getPorcHombresAbs(item,modelo.preg_199_tabla_3) | percent:'1.0-0'}}</td>
                                        </tr>

                                        <!-- Totales -->
                                        <tr>
                                            <th class="text-md-center" scope="row"> Número de personas beneficiarias (totales)</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalMujeres(modelo.preg_199_tabla_3)}}
                                            </th>
                                            <th class="text-md-center" scope="row">{{funciones.getSumaMujeresDelTotal(modelo.preg_199_tabla_3) | percent:'1.0-0'}}</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalHombres(modelo.preg_199_tabla_3)}}
                                            </th>
                                            <th class="text-md-center" scope="row">{{funciones.getSumaHombresDelTotal(modelo.preg_199_tabla_3) | percent:'1.0-0'}}</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalHombresMujeres(modelo.preg_199_tabla_3)}}

                                            </th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                        </tr>

                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Formación-->
                    <div class="row">
                        <div class="col-md-6">
                            <header>
                                <h5>Personas beneficiadas por tipo de formación</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart1options"></chart>         
                            </div>
                        </div>

                        <div class="col-md-6">
                            <header>
                                <h5>Personas beneficiadas por tipo de formación (Proporcionado)</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart2options"></chart>  
                            </div>
                        </div>
                    </div>

                    <!--Fin Formación-->
                </div>
            </section>
        </div>       
    </accordion-group>
    <accordion-group>
        <div accordion-heading>
            Personas beneficiarias según grupo o categoría profesional
            <i class="fa fa-angle-down float-xs-right"></i>
        </div>
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>
                                    <strong>Número de personas beneficiarias según grupo o categoría profesional</strong>
                                </legend>

                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-md-center">Categoría</th>
                                            <th class="text-md-center">Nº de Mujeres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Nº de Hombres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Total</th>
                                            <th class="text-md-center">Nº Mujeres absoluto</th>
                                            <th class="text-md-center">Nº Hombres absoluto</th>
                                            <th class="text-md-center">Total absoluto</th>
                                            <th class="text-md-center">% Mujeres absoluto</th>
                                            <th class="text-md-center">% Hombres absoluto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Banda 2 -->
                                        <tr *ngFor="let item of modelo.preg_200_tabla_3; let i=index">
                                            <td class="text-md-center">{{item.texto}}</td>
                                            <td class="text-md-center">{{item.mujeres}}</td>
                                            <td class="text-md-center">{{funciones.getMujeresDeFila(item, modelo.preg_200_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{item.hombres}}</td>
                                            <td class="text-md-center">{{funciones.getHombresDeFila(item, modelo.preg_200_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{funciones.getSumaFila(item)}}</td>
                                            <td class="text-md-center">{{funciones.getMujeresAbs(item, modelo.preg_200_tabla_3)}}</td>
                                            <td class="text-md-center">{{funciones.getHombresAbs(item, modelo.preg_200_tabla_3)}}</td>
                                            <td class="text-md-center">{{(funciones.getTotalAbs(item, modelo.preg_200_tabla_3))}}</td>
                                            <td class="text-md-center">{{funciones.getPorcMujeresAbs(item,modelo.preg_200_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{funciones.getPorcHombresAbs(item,modelo.preg_200_tabla_3) | percent:'1.0-0'}}</td>
                                        </tr>

                                        <!-- Totales -->
                                        <tr>
                                            <th class="text-md-center" scope="row">Total</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalMujeres(modelo.preg_200_tabla_3)}}
                                            </th>
                                            <th class="text-md-center" scope="row">{{funciones.getSumaMujeresDelTotal(modelo.preg_200_tabla_3) | percent:'1.0-0'}}</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalHombres(modelo.preg_200_tabla_3)}}
                                            </th>
                                            <th class="text-md-center" scope="row">{{funciones.getSumaHombresDelTotal(modelo.preg_200_tabla_3) | percent:'1.0-0'}}</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalHombresMujeres(modelo.preg_200_tabla_3)}}

                                            </th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                        </tr>

                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Formación-->
                    <div class="row">
                        <div class="col-md-6">
                            <header>
                                <h5>Personas beneficiarias de la formación por categoria profesional</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart3options"></chart>  
                            </div>
                        </div>

                        <div class="col-md-6">
                            <header>
                                <h5>Personas beneficiarias de la formación por categoria profesional (Proporcionado)</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart4options"></chart>  
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <header>
                                <h5>Personas beneficiarias de la formación por categoria profesional</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart2pieoptions"></chart>  
                            </div>
                        </div>

                        <div class="col-md-6">
                            <header>
                                <h5>Personas beneficiarias de la formación por categoria profesional (Proporcionado)</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart3pieoptions"></chart>  
                            </div>
                        </div>
                    </div>

                    <!--Fin Formación-->
                </div>
            </section>
        </div>       
    </accordion-group>
    <accordion-group>
        <div accordion-heading>
            Tipo de formación no asociada al puesto de trabajo
            <i class="fa fa-angle-down float-xs-right"></i>
        </div>        
        <div class="col-lg-12">
            <section class="widget" widget>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>
                                    <strong>Tipo de formación no asociada al puesto de trabajo</strong>
                                </legend>

                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-md-center">Tipo</th>
                                            <th class="text-md-center">Nº de Mujeres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Nº de Hombres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Total</th>
                                            <th class="text-md-center">Nº Mujeres absoluto</th>
                                            <th class="text-md-center">Nº Hombres absoluto</th>
                                            <th class="text-md-center">Total absoluto</th>
                                            <th class="text-md-center">% Mujeres absoluto</th>
                                            <th class="text-md-center">% Hombres absoluto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Banda 2 -->
                                        <tr *ngFor="let item of modelo.preg_195_tabla_3; let i=index">
                                            <td class="text-md-center">Formación que no esté directamente relacionada con el puesto de trabajo</td>
                                            <td class="text-md-center">{{item.mujeres}}</td>
                                            <td class="text-md-center">{{funciones.getMujeresDeFila(item, modelo.preg_195_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{item.hombres}}</td>
                                            <td class="text-md-center">{{funciones.getHombresDeFila(item, modelo.preg_195_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{funciones.getSumaFila(item)}}</td>
                                            <td class="text-md-center">{{funciones.getMujeresAbs(item, modelo.preg_195_tabla_3)}}</td>
                                            <td class="text-md-center">{{funciones.getHombresAbs(item, modelo.preg_195_tabla_3)}}</td>
                                            <td class="text-md-center">{{(funciones.getTotalAbs(item, modelo.preg_195_tabla_3))}}</td>
                                            <td class="text-md-center">{{funciones.getPorcMujeresAbs(item,modelo.preg_195_tabla_3) | percent:'1.0-0'}}</td>
                                            <td class="text-md-center">{{funciones.getPorcHombresAbs(item,modelo.preg_195_tabla_3) | percent:'1.0-0'}}</td>
                                        </tr>

                                        <!-- Totales -->
                                        <tr>
                                            <th class="text-md-center" scope="row">Total</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalMujeres(modelo.preg_195_tabla_3)}}
                                            </th>
                                            <th class="text-md-center" scope="row">{{funciones.getSumaMujeresDelTotal(modelo.preg_195_tabla_3) | percent:'1.0-0'}}</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalHombres(modelo.preg_195_tabla_3)}}
                                            </th>
                                            <th class="text-md-center" scope="row">{{funciones.getSumaHombresDelTotal(modelo.preg_195_tabla_3) | percent:'1.0-0'}}</th>
                                            <th class="text-md-center" scope="row">
                                                {{funciones.getTotalHombresMujeres(modelo.preg_195_tabla_3)}}

                                            </th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                            <th class="text-md-center" scope="row"></th>
                                        </tr>

                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Formación-->
                    <div class="row">
                        <div class="col-md-6">
                            <header>
                                <h5>Posibilidad de recibir formación que no esté directamente relacionada con el puesto de trabajo</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart5options"></chart> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <header>
                                <h5>Posibilidad de recibir formación que no esté directamente relacionada con el puesto de trabajo (Proporcionado)</h5>
                            </header>
                            <div class="widget-body">
                                <chart [options]="chart6options"></chart> 
                            </div>
                        </div>
                        
                    </div>                  

                    <!--Fin Formación-->
                </div>
            </section>
        </div>      
    </accordion-group>
    <accordion-group>
        <div accordion-heading>
            Personas beneficiarias de la formación en igualdad de género
            <i class="fa fa-angle-down float-xs-right"></i>
        </div>   
         <div class="col-lg-12">
                <section class="widget" widget>
                    <div class="widget-body">

                        <div class="row">
                            <div class="col-md-5">
                                <fieldset>
                                    <legend><strong>Formación en igualdad de género</strong></legend>
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                            <tr>
                                              
                                            <th class="text-md-center">Tipo</th>
                                            <th class="text-md-center">Nº de Mujeres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Nº de Hombres</th>
                                            <th class="text-md-center">Porcentaje</th>
                                            <th class="text-md-center">Total</th>                                           
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td class="text-md-right">Formación en igualdad de género</td>
                                            <td class="text-md-right">{{getMujeresPlantilla2()}}</td>
                                            <td class="text-md-right">{{getMujeresPlantillaPorcentaje2() | number : '1.2-2'}}%</td>
                                            <td class="text-md-right">{{getHombresPlantilla2()}}</td>
                                            <td class="text-md-right">{{getHombresPlantillaPorcentaje2() | number : '1.2-2'}}%</td>
                                            <td class="text-md-right">{{getTotalCompoPlantilla2()}}</td>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <section class="widget" widget>
                                    <header>
                                        <h5>
                                            Formación en igualdad de género
                                        </h5>
                                    </header>                                    
                                    <div class="widget-body">
                                        <chart [options]="chart4pieoptions"></chart>         
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </accordion-group>