 .md-radio-checked .md-radio-inner-circle{
     background-color: dodgerblue;
 }
 .md-radio-checked .md-radio-outer-circle{
    border-color:  dodgerblue;
}



.md-radio-checked .md-radio-label .md-radio-container .md-radio-outer-circle{
    border-color:  dodgerblue;
    transition: border-color ease 280ms;
}
.md-radio-focused .md-radio-label .md-radio-container .md-ink-ripple { 
    opacity: 1; 
background-color: rgba(30, 144, 255, 0.5)
}
