# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
config
dist
node_modules
src/assets
src/app/charts
src/app/components
src/app/error
src/app/extra
src/app/forms
src/app/grid
src/app/inbox
src/app/maps
src/app/profile
src/app/tables
src/app/ui-elements
src/app/widgets

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
