<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Salud Laboral y Prevención de riesgos laborales ligados al sexo</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Actuaciones de la organización en materia de <span class="fw-semi-bold">Prevención de riesgos laborales ligados al sexo</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">           
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic+'%'}"></progress>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>De acuerdo a las acciones que la organización desarrolla responda las siguientes preguntas</p>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_591">
                                      La  EVALUACIÓN  de  los  riesgos  laborales  comprende  los  riesgos vinculados al sexo de las personas trabajadoras
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_591">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_592">
                                     El PLAN DE PREVENCIÓN comprende medidas de prevención y protección para  eliminar/reducir  los  riesgos  ligados  al  sexo  de  las personas trabajadoras
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_592">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <legend>Actuaciones de la organización en materia de prevención de riesgos laborales relacionados con el embarazo, postparto y lactancia de las trabajadoras</legend>

                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS SOBRE EL FACTOR TÉCNICO
                                </div>
                                <div class="col-md-1 text-md-center">
                                   <!-- Nº de casos-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_594">
                                      ¿Se ha adaptado técnicamente algún puesto de trabajo por razón de riesgo durante el embarazo?
                                    </label>
                                </div>
                                <div class="col-md-3 text-md-center">
                                    <md-radio-group formControlName="preg_594">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                        <md-radio-button value="ne">No Procede</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_594.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_595" tooltip="Nº de casos" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_595'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_596">
                                      ¿Se ha adaptado técnicamente algún puesto de trabajo por razón de riesgo durante la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-3 text-md-center">
                                    <md-radio-group formControlName="preg_596">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                        <md-radio-button value="ne">No Procede</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_596.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_597" tooltip="Número de casos (puestos de trabajo adaptados por razón de riesgo durante la lactancia)" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_597'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_598">
                                      ¿Se ha reducido el tiempo de trabajo a alguna trabajadora por razón de riesgo durante el embarazo o por riesgo durante la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-3 text-md-center">
                                    <md-radio-group formControlName="preg_598">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                        <md-radio-button value="ne">No Procede</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_598.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_599" tooltip="Número de casos (tiempo de trabajo reducido por razón de riesgo durante el embarazo o por riesgo durante la lactancia)" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_599'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_600">
                                     ¿Se ha suprimido el trabajo nocturno o a turnos a alguna trabajadora por razón de riesgo durante el embarazo o por riesgo durante la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-3 text-md-center">
                                    <md-radio-group formControlName="preg_600">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                        <md-radio-button value="ne">No Procede</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_600.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_601" tooltip="Nº de casos" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_601'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS ORGANIZATIVAS (MOVILIDAD FUNCIONAL )
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <!--Nº de puestos-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_603">
                                      ¿Se han identificado puestos de trabajo exentos de riesgo para el embarazo?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_603">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_603.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_604" tooltip="Nº de puestos" placeholder="Nº de puestos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_604'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>                           
                             <div class="row" *ngIf="ifForm.controls.data.controls.preg_603.value=='si'">
                                <div class="col-md-8 offset-md-2"><label for="preg_605">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_605" formControlName="preg_605" autosize placeholder="Puestos de trabajo exentos de riesgo para el embarazo"></textarea>
                                </div>
                            </div>

                            <div class="row" style="margin-top:40px">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_606">
                                      ¿Se han identificado puestos de trabajo exentos de riesgo para la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_606">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_606.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_607" tooltip="Nº de puestos" placeholder="Nº de puestos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_607'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>                            
                             <div class="row" *ngIf="ifForm.controls.data.controls.preg_606.value=='si'">
                                <div class="col-md-8 offset-md-2"><label for="preg_18">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_608" formControlName="preg_608" autosize placeholder="Puestos de trabajo exentos de riesgo para la lactancia"></textarea>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS LÍMITE: SUSPENSIÓN DEL CONTRATO DE TRABAJO
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <!--Casos-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_611">
                                      ¿Se han concedido permisos disfrutados por riesgo durante el embarazo?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_611">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_611.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_612" tooltip="Casos" placeholder="Casos" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_612'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS de MEJORA con respecto a la LEY
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <!--Nº de mejoras-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_614">
                                     ¿Existen medidas relativas a esta materia que supongan una mejora a lo que establece la ley o el convenio colectivo?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_614">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center" *ngIf="ifForm.controls.data.controls.preg_614.value=='si'">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_615" tooltip="Nº de mejoras" placeholder="Nº de mejoras" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_615'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="ifForm.controls.data.controls.preg_614.value=='si'">
                                <div class="col-md-8 offset-md-2"><label for="preg_23">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_616" formControlName="preg_616" autosize placeholder="Mejora a lo que establece la ley o el convenio colectivo"></textarea>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                     <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>