<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Acoso Sexual y por razón de sexo</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Actuaciones de la organización en materia de <span class="fw-semi-bold">Acoso Sexual</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <div class="bg-white progress progress-sm">
                    <div progress-animate class="progress-bar bg-primary progress-sm" style="width: 18%;" data-width="18%"></div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{(respondidasSeccion*100)/totalSeccion}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas de prevención del acoso sexual de la compañía responda las
                                    siguientes preguntas:</p>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_291">
                                      El acoso sexual, ¿se ha incluido en la evaluación de los riesgos de los puestos de trabajo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_291">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_292">
                                     La organización ejecuta medidas formativas/informativas y de sensibilización dirigidas a la plantilla en general.
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_292">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>

                                <div class="col-md-8 offset-md-2"><label for="preg_293">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_293" formControlName="preg_293" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas a la plantilla en general"></textarea>
                                </div>
                            </div>







                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_294">
                                      La organización ejecuta medidas formativas/informativas y de sensibilización dirigidas a la representación del personal.
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_294">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_295">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_295" formControlName="preg_295" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas a la representación del personal"></textarea>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_296">
                                     Se han establecido formalmente sistemas de garantía para evitar los efectos del acoso sexual en la promoción, carrera profesional  y  ascensos,  u  otras  circunstancias?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_296">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_297">En caso afirmativo, por favor describa brevemente</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_297" formControlName="preg_297" autosize placeholder="Sistemas de garantía para evitar los efectos del acoso sexual en la promoción, carrera profesional  y  ascensos,  u  otras  circunstancias"></textarea>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_298">
                                     Actualmente la organización cuenta con medidas y/o procedimientos para denunciar el Acoso Sexual?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_298">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_299">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_299" formControlName="preg_299" autosize placeholder="Medidas y/o procedimientos para denunciar el Acoso Sexual"></textarea>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_300">
                                      La organización cuenta con medidas y/o protocolos de intervención para la solución de los conflictos derivados por el Acoso Sexual?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_300">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_301">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_301" formControlName="preg_301" autosize placeholder="Protocolos de intervención para la solución de los conflictos derivados por el Acoso Sexual"></textarea>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_302">
                                      ¿La organización ha adoptado formalmente medidas para la solución de los conflictos derivados de las situaciones de acoso sexual?.
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_302">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_303">En caso afirmativo, por favor describa brevemente</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_303" formControlName="preg_303" autosize placeholder="Medidas para la solución de los conflictos derivados de las situaciones de acoso sexual"></textarea>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas previstas para la asistencia a las víctimas de acoso sexual
                                    responda las siguientes preguntas:</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_306">
                                     ¿Se  ha  previsto  algún  procedimiento  de  tratamiento psicológico y de rehabilitación para las víctimas, o ayudas económicas para ello?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_306">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>De acuerdo a las medidas disciplinarias contra la autoría del acoso responda las siguientes
                                    preguntas:
                                </p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_308">
                                     ¿Se ha aplicado alguna vez como medida disciplinaria  el despido por razón de una situación de acoso sexual de algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_308">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_309">
                                     ¿Se ha aplicado alguna vez como medida disciplinaria  la movilización geográfica por razón de una situación de acoso sexual de algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_309">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_310">
                                   ¿Se ha aplicado alguna vez como medida disciplinaria la amonestación (verbal o escrita) por razón de una situación de acoso sexual  a algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_310">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_311">
                                     ¿Se ha aplicado alguna vez otro  tipo de medida disciplinaria  por razón de una situación de acoso sexual  a algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_311">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las actuaciones de la organización en materia de acoso por razón sexo
                                    responda las siguientes preguntas</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_316">
                                     ¿Se ha incluido el acoso  por razón de sexo en la evaluación de los riesgos de los puestos de trabajo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_316">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_317">
                                  ¿La organización ha desarrollado medidas formativas/informativas y de sensibilización dirigidas a la plantilla en general?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_317">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_318">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_318" formControlName="preg_318" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas a la plantilla en general"></textarea>
                                </div>
                            </div>








                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_319">
                                 ¿La organización ha desarrollado medidas formativas/informativas y de sensibilización dirigidas a la representación del personal?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_319">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_320">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_320" formControlName="preg_320" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas a la representación del personal"></textarea>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_321">
                                  ¿La organización ha desarrollado medidas formativas/informativas y de sensibilización dirigidas al personal político y/o técnico?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_321">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_322">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_322" formControlName="preg_322" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas al personal político y/o técnico"></textarea>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_323">
                                  ¿Se han establecido acciones preventivas específicas para la prevención del acoso por razón de sexo, orientación sexual o identidad de género, como por ejemplo un Código Buenas Prácticas?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_323">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_324">En caso afirmativo, describa brevemente</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_324" formControlName="preg_324" autosize placeholder="Acciones preventivas"></textarea>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_325">
                                 ¿Se han establecido formalmente sistemas de garantía para evitar los efectos del acoso  por razón de sexo en la promoción, carrera profesional  y  ascensos,  u  otras   circunstancias?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_325">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_326">En caso afirmativo, describa brevemente</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_326" formControlName="preg_326" autosize placeholder="Sistemas de garantía"></textarea>
                                </div>
                            </div>



                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas o procedimientos de las denuncias del Acoso por Razón de Sexo
                                    responda las siguientes preguntas:</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_331">
                                    ¿Se  han  adoptado  formalmente  medidas  o  procedimientos para la denuncia  de  las situaciones de acoso por razón de sexo, orientación sexual o identidad de género?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_331">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_332">En caso afirmativo, describa brevemente</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_332" formControlName="preg_332" autosize placeholder="Procedimientos para la denuncia"></textarea>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_333">
                                 ¿Se han adoptado formalmente medidas para la solución de los conflictos derivados de las situaciones de acoso por razón de sexo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_333">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_334">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_334" formControlName="preg_334" autosize placeholder="Medidas para la solución de los conflictos"></textarea>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas previstas para la asistencia a las víctimas de acoso por razón
                                    de sexo responda las siguientes preguntas:</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_336">
                                    ¿Se  ha  previsto  algún  procedimiento  de  tratamiento psicológico y de rehabilitación para las víctimas, o ayudas económicas para ello?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_336">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_337">En caso afirmativo, describa brevemente</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_337" formControlName="preg_337" autosize placeholder="Procedimiento  de  tratamiento psicológico y de rehabilitación para las víctimas, o ayudas económicas para ello"></textarea>
                                </div>
                            </div>


                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas disciplinarias contra la autoría del acoso responda las siguientes
                                    preguntas:
                                </p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_341">
                                    ¿Se ha aplicado alguna vez como medida disciplinaria el despido por razón de una situación de acoso por razón de sexo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_341">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_342">
                                    ¿Se ha aplicado alguna vez como medida disciplinaria la movilización geográfica por razón de una situación de acoso por razón de sexo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_342">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_343">
                                   ¿Se ha aplicado alguna vez como medida disciplinaria la amonestación (verbal o escrita) por razón de una situación de acoso por razón de sexo, orientación sexual o identidad de género?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_343">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_344">
                                    ¿Se ha aplicado alguna vez otra medida disciplinaria por razón de una situación de acoso por razón de sexo, orientación sexual o identidad de género?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_344">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formArrayName="preg_346_tabla_3">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta el número de casos que se han presentado en la organización, diligencie
                                    la siguiente tabla.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    INDICADORES CUANTITATIVOS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2 text-md-center">
                                    NÚMERO DE RECLAMACIONES (INFORMALES O FORMALES) PRESENTADAS EN MATERIA DE ACOSO
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_346_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-5 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" readonly formControlName="texto" tooltip="NÚMERO DE RECLAMACIONES" placeholder="NÚMERO DE RECLAMACIONES"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_346_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_346_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                     <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>