<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Conciliación</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Conciliación <span class="fw-semi-bold">Trabajo Familia</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{(respondidasSeccion*100)/totalSeccion}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px">
                        <p>Teniendo en cuenta la actuación de la organización en materia de conciliación de a vida laboral y
                            familiar, marque las estrategias que la organización lleva a cabo.</p>
                        <fieldset>
                            <legend><strong>Estrategias</strong></legend>
                            <div formArrayName="preg_0_tabla_2">
                                <div *ngFor="let datos of getPregunta('preg_0_tabla_2').controls; let i=index" [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" [readonly]="i<4" formControlName="denominacion" tooltip="Estrategia" placeholder="Estrategia"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <md-radio-group formControlName="valor">
                                                <md-radio-button value="true">Si</md-radio-button>
                                                <md-radio-button value="false">No</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                        <div class="col-md-1">
                                            <span *ngIf="i > 3">
                                                <button type="button"(click)="removeFila(ifForm.controls.preg_0_tabla_2, i)" class="btn btn-danger btn-xs mb-xs">borra</button> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila2(ifForm.controls.preg_0_tabla_2)" type="button" class="btn btn-success btn-xs mb-xs">Añade Estrategia</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-6 offset-md-2">
                                    <p>La organización se preocupa por divulgación de los mecanismos de conciliación (legales
                                        y dispuestos por la organización)</p>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_1">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo, breve descripción del método divulgativo</p>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_1')!='si'" class="autogrow form-control transition-height" id="preg_2"
                                        formControlName="preg_2" autosize placeholder="Descripción del método divulgativo"></textarea>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo, indicar personas destinatarias</p>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_1')!='si'" class="autogrow form-control transition-height" id="preg_3"
                                        formControlName="preg_3" autosize placeholder="Personas destinatarias"></textarea>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-6 offset-md-2">
                                    <p>La organización desarrolla métodos de promoción del uso de las medidas de conciliación</p>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_4">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo, breve descripción del método de promoción</p>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_4')!='si'" class="autogrow form-control transition-height" id="preg_5"
                                        formControlName="preg_5" autosize placeholder="Método de promoción"></textarea>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo, indicar personas destinatarias</p>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_4')!='si'" class="autogrow form-control transition-height" id="preg_6"
                                        formControlName="preg_6" autosize placeholder="Personas destinatarias"></textarea>
                                </div>
                            </div>


                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-6 offset-md-2">
                                    <p>De acuerdo al procedimiento para el ejercicio de los derechos de conciliación conteste
                                        las siguientes preguntas</p>
                                </div>
                                <div class="w-100"></div>

                                <div class="col-md-3 offset-md-2">
                                    <p>¿Se exige comunicación formal escrita?</p>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_7">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <label class="col-md-6 offset-md-2  col-form-label" for="preg_8">Cual es el tiempo estimado de respuesta a la comunicación del trabajador o trabajadora</label>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <input type="text" formControlName="preg_8" class="form-control" tooltip="Cual es el tiempo estimado de respuesta a la comunicación del trabajador o trabajadora"
                                        placeholder="Cual es el tiempo estimado de respuesta a la comunicación del trabajador o trabajadora"
                                    />
                                </div>
                                <div class="w-100"></div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px">
                        <div formArrayName="preg_rara">
                            <div *ngFor="let datos of getPregunta('preg_rara').controls; let i=index" [formGroupName]="i">
                               <md-radio-group formControlName="valor">
                                        <md-radio-button value="true">Si</md-radio-button>
                                        <md-radio-button value="false">No</md-radio-button>
                                    </md-radio-group>
                               {{ifForm.controls.preg_rara.value[i].denominacion }}

                               <div *ngIf="ifForm.controls.preg_rara.value[i].otro">
                                    <input type="text" formControlName="otro" class="form-control" tooltip="Otro"
                                        placeholder="Otro"/>
                               </div>
                            </div>
                        </div>
                        
                        
                        <fieldset>
                            <legend><strong>II INDICADORES CUANTITATIVOS</strong></legend>

                            <div formArrayName="preg_1_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        CIRCUNSTANCIAS FAMILIARES
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_1_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="CIRCUNSTANCIAS FAMILIARES" placeholder="CIRCUNSTANCIAS FAMILIARES"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </fieldset>
                    </div>

                    
                    <div class="section" style="margin-top:40px">
                        <p>A continuación le pedimos complete el nº de descendientes. Especifique si tienen algún tipo de diversidad</p>
                        <fieldset>
                            <legend><strong>Responsabilidades familiares en número de hijas e hijos</strong></legend>

                            <div formArrayName="preg_2_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Nº de hijas/os
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Total
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_2_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="Nº de hijos/as" placeholder="Nº de hijos/as"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group text-md-center">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group text-md-center">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="text-md-center">
                                                    {{ifForm.controls.preg_2_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_2_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="text-md-right">
                                                TOTAL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalMujeres(ifForm.controls.preg_2_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalHombres(ifForm.controls.preg_2_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalTotal(ifForm.controls.preg_2_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><strong>Responsabilidades familiares en número de hijas e hijos con diversidad funcional o discapacidad</strong></legend>

                            <div formArrayName="preg_3_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Nº de hijas/os
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Total
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_3_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="Nº de hijos/as" placeholder="Nº de hijos/as"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="text-md-center">
                                                    {{ifForm.controls.preg_3_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_3_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="text-md-right">
                                                TOTAL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalMujeres(ifForm.controls.preg_3_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalHombres(ifForm.controls.preg_3_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalTotal(ifForm.controls.preg_3_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">
                        <p>A continuación le pedimos complete la edad de hijos e hijas y especifique si hay descendientes con algún tipo de diversidad</p>
                        <fieldset>
                            <legend><strong>Responsabilidades familiares en número de hijas e hijos</strong></legend>

                            <div formArrayName="preg_4_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Nº de hijas/os
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Total
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_4_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="Nº de hijos/as" placeholder="Nº de hijos/as"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group text-md-center">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group text-md-center">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="text-md-center">
                                                    {{ifForm.controls.preg_4_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_4_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="text-md-right">
                                                TOTAL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalMujeres(ifForm.controls.preg_4_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalHombres(ifForm.controls.preg_4_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalTotal(ifForm.controls.preg_4_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><strong>Responsabilidades familiares en número de hijas e hijos con diversidad funcional o discapacidad</strong></legend>

                            <div formArrayName="preg_5_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Nº de hijas/os
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Total
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_5_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="Nº de hijos/as" placeholder="Nº de hijos/as"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="text-md-center">
                                                    {{ifForm.controls.preg_5_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_5_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="text-md-right">
                                                TOTAL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalMujeres(ifForm.controls.preg_5_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalHombres(ifForm.controls.preg_5_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalTotal(ifForm.controls.preg_5_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </fieldset>

                         <fieldset>
                            <legend><strong>Responsabilidades familiares en número de personas dependientes a cargo (No hijos/as)</strong></legend>

                            <div formArrayName="preg_6_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Nº de hijas/os
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Total
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_6_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="Nº de hijos/as" placeholder="Nº de hijos/as"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="text-md-center">
                                                    {{ifForm.controls.preg_6_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_6_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="text-md-right">
                                                TOTAL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalMujeres(ifForm.controls.preg_6_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalHombres(ifForm.controls.preg_6_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalTotal(ifForm.controls.preg_6_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">
                        <p>Teniendo en cuenta las medidas que la organización reconoce para la conciliación personal, laboral y familiar, especifique el número de personas  por sexo que disfrutan de los mismos</p>
                        <fieldset>
                            <legend><strong>USO DE LOS MECANISMOS LEGALES DE CONCILIACIÓN</strong></legend>
                            <div formArrayName="preg_7_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Descripción
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Total
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_7_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="Descripción" placeholder="Descripción"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="text-md-center">
                                                    {{ifForm.controls.preg_7_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_7_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="text-md-right">
                                                TOTAL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalMujeres(ifForm.controls.preg_7_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalHombres(ifForm.controls.preg_7_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalTotal(ifForm.controls.preg_7_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="col-md-6 offset-md-2">
                                   <small> * Nº de trabajadoras de la organización que han cedido a sus parejas su permiso de maternidad, con independencia de que ellos trabajen o no en la misma organización</small>
                                   <br/><small>** Nº de trabajadores de la organización cuyas parejas/cónyuges les han cedido su permiso de maternidad, con independencia de que ellas trabajen o no en la misma.</small>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">
                        <p>Teniendo en cuenta los recursos que la organización establece para la conciliación trabajo familia, especifique el número de personas por sexo que disfrutan de los mismos</p>
                        <fieldset>
                        <legend><strong>PERSONAS USUARIAS DE RECURSOS PARA LA CONCILIACIÓN</strong></legend>
                        <div formArrayName="preg_8_tabla_3">
                                <div class="row">

                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Descripción
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Nº Hombres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Total
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_8_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="denominacion" tooltip="Descripción" placeholder="Descripción"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="text-md-center">
                                                    {{ifForm.controls.preg_8_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_8_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="text-md-right">
                                                TOTAL
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalMujeres(ifForm.controls.preg_8_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalHombres(ifForm.controls.preg_8_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="text-md-center">
                                                {{getTotalTotal(ifForm.controls.preg_8_tabla_3)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                    
                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px"  formGroupName="data">
                        <div class="row">
                            <label class="col-md-5 offset-md-2 col-form-label" for="preg_9">¿Cuántos trabajadores y trabajadoras han sido padres y madres en el último año?</label>
                            <div class="col-md-1">
                                 <input type="text" formControlName="preg_9" class="form-control" tooltip="Madres"
                                        placeholder="Madres"/>
                            </div>
                            <div class="col-md-1">
                                 <input type="text" formControlName="preg_10" class="form-control" tooltip="Padres"
                                        placeholder="Pdres"/>
                            </div>
                        </div>
                    
                        <div class="row" style="margin-top:40px">
                            <label class="col-md-5 offset-md-2 col-form-label" for="preg_11">¿Cuántas trabajadoras y trabajadores se han incorporado tras la maternidad / paternidad / excedencia o permiso a un puesto de trabajo de categoría inferior?</label>
                            <div class="col-md-1">
                                 <input type="text" formControlName="preg_11" class="form-control" tooltip="Madres"
                                        placeholder="Madres"/>
                            </div>
                            <div class="col-md-1">
                                 <input type="text" formControlName="preg_12" class="form-control" tooltip="Padres"
                                        placeholder="Pdres"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>