@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";


/*
 * Bootstrap calendar
 */

.calendar{
  font-size: $font-size-mini;
  padding: $line-height-computed/2 0;
}
.calendar a{
  text-decoration: none;
  cursor: pointer;
  color: $gray-dark !important;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.calendar td{
  text-align: center;
}
.calendar .header{
  padding: 10px 0 10px 0;
  color: #666;
  i{
    cursor: pointer;
  }
}
.calendar .prev_month{
  float: left;
}
.calendar .next_month{
  float: right;
}
.calendar .year{
  text-align: center;
  font-weight: 500;
}
.calendar .week_days{
  color: $gray-light;
}
.calendar .event{
  color: white;
  font-weight: bold;
  background-color: transparent;

  &:hover{
    > a{
      background-color: $gray-lighter;
    }
  }

  > a {
    background-color: $white;
    @include border-radius(50%);

    > span{
      display: inline-block;
      width: 6px;
      height: 6px;
      position: absolute;
      bottom: 1px;
      right: 1px;
      @include border-radius(50%);
    }
  }

  .popover{
    color: $text-color;
  }
}
.calendar .table td{
  padding: 1px 0;
  border-top: 0;
}
.calendar .table{
  margin-bottom: 3px;
  &.header{
    margin-bottom: $line-height-computed/2;
  }
}
.calendar .week_days td{
}
.calendar .visualmonthyear {
  color: $gray-light;
}
.dropdown-menu .calendar td a {
  padding: 0px;
}

/**
 * Mapael
 */

.mapTooltip {
  position : fixed;
  padding : 2px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  background-color : #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  color: $text-color;
}

.zoomIn, .zoomOut {
  position: absolute;
  bottom: 10px;
  left : 10px;
  width: 20px;
  height: 20px;

  box-sizing: content-box;
  border: 1px solid #ccc;
  background-color: #fff;
  color: $text-color;
  line-height: 20px;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: $font-weight-bold;

  user-select: none;
}

.zoomOut {
  left: 36px;

}

.mapael{
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  .map {
    position:relative;
  }
  .stats{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5% 10%;
  }
}

// Checkbox

.table td > .abc-checkbox,
.table th > .abc-checkbox {
  > label:before,
  > label:after {
    margin-left: -16px;
  }
}

/***********************/
/* Part:Progress Stats */
/***********************/

.progress-stats{
  .name{
    margin-bottom: 2px;
  }
  .description{
    margin-bottom: 2px;
  }
  .status{
    margin-top: 15px;
  }

  @include media-breakpoint-down(lg) {
    .description + .progress{
      margin-bottom: 0;
    }
  }
}



/***********************/
/* Tablas              */
mfDefaultSorter > a {
  color: $gray;

  &:hover {
    color: $gray;
    text-decoration: none;
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  @include border-radius();

  > li {
    display: inline; // Remove list-style and block-level defaults

    &:first-child {
      a {
        margin-left: 0;
        @include border-left-radius($border-radius);
      }
    }
    &:last-child {
      a {
        @include border-right-radius($border-radius);
      }
    }

    &.active a {
      @include plain-hover-focus {
        z-index: 2;
        color: $pagination-active-color;
        cursor: default;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
      }
    }

    &.disabled a {
      @include plain-hover-focus {
        color: $pagination-disabled-color;
        cursor: $cursor-disabled;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
      }
    }
  }

  > li > a {
    position: relative;
    float: left; // Collapse white-space
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -1px;
    //line-height: $line-height;
    color: $pagination-color;
    text-decoration: none;
    background-color: $pagination-bg;

    @include hover-focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }
}

/***********************************/
/**           Backgrid            **/
/***********************************/

.table-editable{

  th > a{
    color: $text-color;
    cursor: pointer;
  }

  .sort-caret {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 0.3em;
    border: 0;
    content: "";
    font: 15px FontAwesome;
  }

  .ascending .sort-caret {
    &:before{
      content: "\f0d8";
    }
  }

  .descending .sort-caret {
    &:before{
      content: "\f0d7";
    }
  }

  + .backgrid-paginator > ul{
    font-weight: $font-weight-normal;
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    border-radius: $border-radius;

    > li {
      display: inline; // Remove list-style and block-level defaults
      > a,
      > span {
        position: relative;
        float: left; // Collapse white-space
        line-height: $line-height-base;
        text-decoration: none;
        color: $pagination-color;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        border-radius: $border-radius;
        margin: 0 2px;

        > .fa-lg{
          position: relative;
          top: -1px;
        }
      }
      &:first-child {
        > a,
        > span {
          margin-left: 0;
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }

    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        color: $pagination-disabled-color;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
        cursor: not-allowed;
      }
    }

    > li > a {
      padding: $padding-small-vertical $padding-small-horizontal;
      font-size: $font-size-sm;
      line-height: $line-height-computed;
    }

    > li {
      &:first-child {
        > a {
          @include border-left-radius($border-radius-sm);
        }
      }
      &:last-child {
        > a {
          @include border-right-radius($border-radius-sm);
        }
      }
    }
  }
}
