<h1 class="page-title">Dashboard Administrador <small><small>FDI</small></small>
</h1>

<section class="widget animated bounceInDown" widget>
  <header>
    <h4><span class="fw-semi-bold">Listado de</span> Usuarios/Encuestas</h4>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>

    </div>
  </header>

  <button class="btn btn-inverse btn-xs mb-xs" role="button" (click)="nuevoUsuario()">
                <i class="glyphicon glyphicon-user text-info"></i>
                <span class="text-info">Crear Usuario</span>
              </button>
  <div class="widget-body">
    <div class="mt">
      <div class="width-200 float-xs-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Buscar por Usuario">
        </div>
      </div>
      <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="id">Id</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="name">Usuario</mfDefaultSorter>
            </th>
            <th class="no-sort hidden-sm-down">
              <mfDefaultSorter by="cuest">Cuestionario</mfDefaultSorter>
            </th>
            <th class="hidden-sm-down">
              <mfDefaultSorter by="fecha_ini">Fecha Inicial</mfDefaultSorter>
            </th>
            <th class="hidden-sm-down">
              <mfDefaultSorter by="fecha_fin">Estado</mfDefaultSorter>
            </th>
            <th class="no-sort">
              Opciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of mf.data | SearchPipe : searchText">
            <td>{{person.id}}</td>
            <td><span class="fw-semi-bold">{{person.name}}</span></td>
            <td class="hidden-sm-down">
              <small>
              <span class="fw-semi-bold">Tipo:</span>
              &nbsp; {{person.cuest}}
            </small>
              <br>
              <small>
              <span class="fw-semi-bold">Nombre:</span>
              &nbsp; {{person.nomCuest}}
            </small>
            </td>
            <td class="hidden-sm-down">{{person.fecha_ini}}</td>

            <td class="hidden-sm-down">
              <span [class.badge-success]="person.fecha_fin=='' || person.fecha_fin==null" [class.badge-danger]="person.fecha_fin!='' && person.fecha_fin!=null"
                class="badge" tooltip="&nbsp;Estado&nbsp;">&nbsp;{{person.fecha_fin==''||person.fecha_fin==null ? 'Abierto':'Cerrado' }}&nbsp;</span>              &nbsp;
              <button *ngIf="person.fecha_fin==''||person.fecha_fin==null" class="btn btn-info btn-xs mb-xs" role="button" (click)="bajaCuestionario(person)">
                <i class="glyphicon glyphicon-eye-close"></i>
                <span>Cerrar</span>
              </button>
              <button *ngIf="person.fecha_fin!=''&&person.fecha_fin!=null" class="btn btn-info btn-xs mb-xs" role="button" (click)="altaCuestionario(person)">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span>Abrir</span>
              </button>
            </td>



            <!--<td class="hidden-sm-down">{{person.fecha_fin}}</td>-->
            <td>
              <div class="buttons">
                <!-- <progress class="progress progress-sm progress-{{person.status.type}}" value="100" max="100" [ngStyle]="{ 'width': person.status.progress}"></progress> -->
                <button class="btn btn-inverse btn-xs mb-xs" role="button" (click)="onSelect(person)">
                  <i class="glyphicon glyphicon-list-alt text-info"></i>
                  <span class="text-info">Encuesta</span>
                </button>
                <button class="btn btn-inverse btn-xs mb-xs" role="button" (click)="getDatosUsuario(person)">
                <i class="glyphicon glyphicon-user text-info"></i>
                <span class="text-info">Usuario</span>
              </button>

                <button class="btn btn-inverse btn-xs mb-xs" role="button" (click)="borraUsuario(person)">
                <i class="glyphicon glyphicon-trash text-danger"></i>
                <span class="text-danger">Borrar</span>
              </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
            <td colspan="100">
              No hay resultados
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>


<!-- información de usuario -->
<section id="seccion-datosusuario" class="widget animated fadeInUp" *ngIf="muestrausu" widget>

  <div class="widget-body">
    <form class="form-horizontal parsleyjs" data-parsley-priority-enabled="false" [formGroup]="ifForm"
      role="form" novalidate>
      <fieldset>
        <legend><strong>{{ususel.nombre}}</strong> Datos de Usuario</legend>
 <div   >
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="username">Usuario</label>
          <div class="col-md-7 ">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input formControlName="username" class="form-control" size="16" type="text" tooltip="Usuario" [placement]="top" placeholder="Usuario">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="email">Email</label>
          <div class="col-md-7 ">
            <div class="input-group">
              <span class="input-group-addon"><strong>@</strong></span>
              <input type="email" id="email" name="email" class="form-control" data-parsley-trigger="change" data-parsley-validation-threshold="1"
                required="required" formControlName="email" tooltip="Email" placeholder="Email">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="cif">Cif</label>
          <div class="col-md-7 ">
            <div class="input-group">              
              <input type="text" id="cif" name="cif" class="form-control" data-parsley-trigger="change" data-parsley-validation-threshold="1"
                required="required" formControlName="cif" tooltip="Cif" placeholder="Cif">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="nombre">Nombre</label>
          <div class="col-md-7 ">
            <div class="input-group">
             <input type="text" id="nombre" name="nombre" class="form-control" data-parsley-trigger="change" data-parsley-validation-threshold="1"
                required="required" formControlName="nombre" tooltip="nombre" placeholder="nombre">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="apellidos">Apellidos</label>
          <div class="col-md-7 ">
            <div class="input-group">
             <input type="text" id="apellidos" name="apellidos" class="form-control" data-parsley-trigger="change" data-parsley-validation-threshold="1"
                required="required" formControlName="apellidos" tooltip="apellidos" placeholder="apellidos">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="empresa">Empresa</label>
          <div class="col-md-7 ">
            <div class="input-group">
             <input type="text" id="empresa" name="empresa" class="form-control" data-parsley-trigger="change" data-parsley-validation-threshold="1"
                required="required" formControlName="empresa" tooltip="empresa" placeholder="empresa">
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="accion==1">
          <label class="col-md-4  col-form-label text-md-right" for="cuest">Tipo Usuario</label>
          <div class="col-md-7 ">
            <div class="input-group">
              <select class="form-control" formControlName="cuest">
                <option *ngFor="let tipo of tiposcuest" [value]="tipo.id">{{tipo.nombre}}</option>
              </select>
          </div>
        </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="password">Password</label>
          <div class="col-md-7 ">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input id="password" name="password" type="password" formControlName="password" class="form-control" data-parsley-trigger="change" data-parsley-minlength="6"
                size="16" type="text" tooltip="Resetear Password" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right" for="repitepassword">Repite Password</label>
          <div class="col-md-7 ">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input id="repitepassword" name="repitepassword" type="password" formControlName="repitepassword" class="form-control" data-parsley-trigger="change"
                data-parsley-minlength="6" data-parsley-equalto="#password" size="16" type="text" tooltip="Repite Password"
                placeholder="Repite Password">
            </div>
          </div>
        </div>


 </div>
      </fieldset>
      <div class="form-actions">
        <div class="row">
          <div class="offset-md-4 col-md-7 ">
            <button type="submit" class="btn btn-primary"  (click)="onSubmit(ifForm)" *ngIf="accion==2">Guardar Cambios</button>
            <button type="submit" class="btn btn-primary"  (click)="onSubmit(ifForm)" *ngIf="accion==1">Crear Usuario</button>
            <button type="button" class="btn btn-inverse" (click)="cancelModifUsu()">Cancelar</button>
          </div>
        </div>
      </div>
    
    </form>
  </div>
</section>
<!-- fin info usuario -->