<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Acoso Sexual y por razón de sexo</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Actuaciones de la organización en materia de <span class="fw-semi-bold">Acoso Sexual</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{tipobarra}}" value="100" max="100" [ngStyle]="{'width': valorbarra+'%'}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas de prevención del acoso sexual de la compañía responda las
                                    siguientes preguntas:</p>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_621">
                                      El acoso sexual, ¿se ha incluido en la evaluación de los riesgos de los puestos de trabajo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_621">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_622">
                                     La organización ejecuta medidas formativas/informativas y de sensibilización dirigidas a la plantilla en general.
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_622">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_622.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_623">En caso afirmativo, indicar cuáles</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_623" formControlName="preg_623" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas a la plantilla en general"></textarea>
                                    </div>
                                </div>
                            </div>







                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_624">
                                      La organización ejecuta medidas formativas/informativas y de sensibilización dirigidas a la representación del personal.
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_624">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_624.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_625">En caso afirmativo, indicar cuáles</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_625" formControlName="preg_625" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas a la representación del personal"></textarea>
                                    </div>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_626">
                                     Se han establecido formalmente sistemas de garantía para evitar los efectos del acoso sexual en la promoción, carrera profesional  y  ascensos,  u  otras  circunstancias?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_626">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_626.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_627">En caso afirmativo, por favor describa brevemente</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_627" formControlName="preg_627" autosize placeholder="Sistemas de garantía para evitar los efectos del acoso sexual en la promoción, carrera profesional  y  ascensos,  u  otras  circunstancias"></textarea>
                                    </div>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_628">
                                     Actualmente la organización cuenta con medidas y/o procedimientos para denunciar el Acoso Sexual?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_628">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_628.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_629">En caso afirmativo, indicar cuáles</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_629" formControlName="preg_629" autosize placeholder="Medidas y/o procedimientos para denunciar el Acoso Sexual"></textarea>
                                    </div>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_630">
                                      La organización cuenta con medidas y/o protocolos de intervención para la solución de los conflictos derivados por el Acoso Sexual?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_630">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_630.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_631">En caso afirmativo, indicar cuáles</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_631" formControlName="preg_631" autosize placeholder="Protocolos de intervención para la solución de los conflictos derivados por el Acoso Sexual"></textarea>
                                    </div>
                                </div>
                            </div>


                            <!---->
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_632">
                                      ¿La organización ha adoptado formalmente medidas para la solución de los conflictos derivados de las situaciones de acoso sexual?.
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_632">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_632.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_636">En caso afirmativo, por favor describa brevemente</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_636" formControlName="preg_636" autosize placeholder="Medidas para la solución de los conflictos derivados de las situaciones de acoso sexual"></textarea>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas previstas para la asistencia a las víctimas de acoso sexual
                                    responda las siguientes preguntas:</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_638">
                                     ¿Se  ha  previsto  algún  procedimiento  de  tratamiento psicológico y de rehabilitación para las víctimas, o ayudas económicas para ello?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_638">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>De acuerdo a las medidas disciplinarias contra la autoría del acoso responda las siguientes
                                    preguntas:
                                </p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_640">
                                     ¿Se ha aplicado alguna vez como medida disciplinaria  el despido por razón de una situación de acoso sexual de algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_640">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_641">
                                     ¿Se ha aplicado alguna vez como medida disciplinaria  la movilización geográfica por razón de una situación de acoso sexual de algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_641">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_642">
                                   ¿Se ha aplicado alguna vez como medida disciplinaria la amonestación (verbal o escrita) por razón de una situación de acoso sexual  a algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_642">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_643">
                                     ¿Se ha aplicado alguna vez otro  tipo de medida disciplinaria  por razón de una situación de acoso sexual  a algún miembro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_643">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las actuaciones de la organización en materia de acoso por razón sexo
                                    responda las siguientes preguntas</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_646">
                                     ¿Se ha incluido el acoso  por razón de sexo en la evaluación de los riesgos de los puestos de trabajo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_646">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_647">
                                  ¿La organización ha desarrollado medidas formativas/informativas y de sensibilización dirigidas a la plantilla en general?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_647">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>                               
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_649">
                                  ¿La organización ha desarrollado medidas formativas/informativas y de sensibilización dirigidas a la representación del personal?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_649">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_649.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_650">En caso afirmativo, indicar cuáles</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_650" formControlName="preg_650" autosize placeholder="Medidas formativas/informativas y de sensibilización dirigidas a la representación del personal"></textarea>
                                    </div>
                                </div>
                            </div>








                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_651">
                                 ¿La organización ha desarrollado medidas formativas/informativas y de sensibilización dirigidas al personal directivo y mandos intermedios?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_651">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_651.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_652">En caso afirmativo, indicar cuáles</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_652" formControlName="preg_652" autosize placeholder="Medidas formativas/informativas"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_653">
                                 ¿Se han establecido acciones preventivas específicas para la prevención del acoso por razón de sexo específicas, tales como Código Buenas Prácticas, creación del consejo de empresa o figura del Asesor?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_653">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_653.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_654">En caso afirmativo, describa brevemente</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_654" formControlName="preg_654" autosize placeholder="Acciones preventivas"></textarea>
                                    </div>
                                </div>
                            </div>


                           <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_655">
                                 ¿Se han establecido formalmente sistemas de garantía para evitar los efectos del acoso  por razón de sexo en la promoción, carrera profesional  y  ascensos,  u  otras   circunstancias?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_655">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_655.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_656">En caso afirmativo, describa brevemente</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_656" formControlName="preg_656" autosize placeholder="Sistemas de garantía"></textarea>
                                    </div>
                                </div>
                            </div>



                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas o procedimientos de las denuncias del Acoso por Razón de Sexo
                                    responda las siguientes preguntas:</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_658">
                                    ¿Se  han  adoptado  formalmente  medidas  o  procedimientos para la denuncia  de  las situaciones de acoso por razón de sexo, orientación sexual o identidad de género?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_658">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_658.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_659">En caso afirmativo, describa brevemente</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_659" formControlName="preg_659" autosize placeholder="Procedimientos para la denuncia"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_660">
                                 ¿Se han adoptado formalmente medidas para la solución de los conflictos derivados de las situaciones de acoso por razón de sexo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_660">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_660.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_661">En caso afirmativo, indicar cuáles</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_661" formControlName="preg_661" autosize placeholder="Medidas para la solución de los conflictos"></textarea>
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas previstas para la asistencia a las víctimas de acoso por razón
                                    de sexo responda las siguientes preguntas:</p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_663">
                                    ¿Se  ha  previsto  algún  procedimiento  de  tratamiento psicológico y de rehabilitación para las víctimas, o ayudas económicas para ello?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_663">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_663.value=='si'">
                                    <div class="col-md-8 offset-md-2"><label for="preg_664">En caso afirmativo, describa brevemente</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_664" formControlName="preg_664" autosize placeholder="Procedimiento  de  tratamiento psicológico y de rehabilitación para las víctimas, o ayudas económicas para ello"></textarea>
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta las medidas disciplinarias contra la autoría del acoso responda las siguientes
                                    preguntas:
                                </p>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_666">
                                    ¿Se ha aplicado alguna vez como medida disciplinaria el despido por razón de una situación de acoso por razón de sexo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_666">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_667">
                                    ¿Se ha aplicado alguna vez como medida disciplinaria la movilización geográfica por razón de una situación de acoso por razón de sexo?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_667">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_668">
                                   ¿Se ha aplicado alguna vez como medida disciplinaria la amonestación (verbal o escrita) por razón de una situación de acoso por razón de sexo, orientación sexual o identidad de género?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_668">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_669">
                                    ¿Se ha aplicado alguna vez otra medida disciplinaria por razón de una situación de acoso por razón de sexo, orientación sexual o identidad de género?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_669">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formArrayName="preg_671_tabla_3">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>Teniendo en cuenta el número de casos que se han presentado en la organización, diligencie
                                    la siguiente tabla.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    INDICADORES CUANTITATIVOS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2 text-md-center">
                                    NÚMERO DE RECLAMACIONES (INFORMALES O FORMALES) PRESENTADAS EN MATERIA DE ACOSO
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_671_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-5 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" readonly formControlName="texto" tooltip="NÚMERO DE RECLAMACIONES" placeholder="NÚMERO DE RECLAMACIONES"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_671_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_671_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>