<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Formación</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Actuaciones de la organización <span class="fw-semi-bold">en materia de formación</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{(respondidasSeccion*100)/totalSeccion}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Dispone la organización de un PLAN DE FORMACIÓN dirigido a todo o parte del personal?</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_1">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_2">A) Especifique los OBJETIVOS del Plan Formativo y a quien se dirige</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_1')!='si'" class="autogrow form-control transition-height" id="preg_2"
                                formControlName="preg_2" autosize placeholder="OBJETIVOS del Plan Formativo y a quien se dirige"></textarea>
                        </div>
                        <div class="w-100"></div>

                        <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_3">B) Mencione las personas responsables del plan formativo tanto en la fase de diseño como de ejecución del mismo (indíquese su posición dentro de la organización)</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_1')!='si'" class="autogrow form-control transition-height" id="preg_3"
                                formControlName="preg_3" autosize placeholder="Personas responsables del plan formativo"></textarea>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Disfruta su organización de convenios especiales con otras organizaciones o administraciones
                                para que el personal pueda realizar formación?</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_4">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_5">Especifique las organizaciones con quien mantiene convenios o acuerdo para la formación</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_4')!='si'" class="autogrow form-control transition-height" id="preg_5"
                                formControlName="preg_5" autosize placeholder="Organizaciones con quien mantiene convenios o acuerdo para la formación"></textarea>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Dispone la organización de mecanismos de detección de necesidades formativas?</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_6">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_7">Indíquense cuáles</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_6')!='si'" class="autogrow form-control transition-height" id="preg_7"
                                formControlName="preg_7" autosize placeholder="Indíquense cuáles"></textarea>
                        </div>
                        <div class="w-100"></div>

                        <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_10">En caso de existir oferta formativa, defínanse brevemente líneas esenciales</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_6')!='si'" class="autogrow form-control transition-height" id="preg_10"
                                formControlName="preg_10" autosize placeholder="Defínanse brevemente líneas esenciales"></textarea>
                        </div>

                        <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_11">Menciones cuales son los criterios de selección de las personas destinatarias  de la oferta formativa</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_6')!='si'" class="autogrow form-control transition-height" id="preg_11"
                                formControlName="preg_11" autosize placeholder="Criterios de selección"></textarea>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <label for="preg_12">La formación que realiza la organización es obligatoria o voluntaria</label>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_12">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_13">Especifique si hubiera diferentes tipos</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_12')!='si'" class="autogrow form-control transition-height" id="preg_13"
                                formControlName="preg_13" autosize placeholder="Especifique si hubiera diferentes tipos"></textarea>
                        </div>
                    </div>

                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend>Percepción de la participación femenina en los cursos de formación interna</legend>
                            <div class="col-md-5 offset-md-2">
                                <p>Marque la frecuencia con la que participan las mujeres</p>
                            </div>
                            <div class="col-md-1 offset-md-2" formGroupName="data">
                                <md-radio-group formControlName="preg_14">
                                    <md-radio-button value="4">Mayoritariamente</md-radio-button>
                                    <md-radio-button value="3">Generalmente</md-radio-button>
                                    <md-radio-button value="2">A veces</md-radio-button>
                                    <md-radio-button value="1">Poco</md-radio-button>
                                    <md-radio-button value="0">Nada</md-radio-button>
                                </md-radio-group>
                            </div>

                            <div class="form-group" style="margin-top:40px">
                                <div class="col-md-9 offset-md-2">
                                    <p>De acuerdo a las ayudas o beneficios para la formación responda las siguientes preguntas</p>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <p>Existe previsión/provisión de ayudas o beneficios para la formación externa</p>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_15">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <div class="col-md-9 offset-md-2">
                                    <p>En caso afirmativo indique cuantas personas se benefician de esa formación</p>
                                </div>

                                <div class="section" formArrayName="preg_1_tabla_3">
                                    <fieldset>                                        
                                            <div class="row">
                                                <div class="col-md-3 offset-md-2 text-md-center">

                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Mujeres
                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Hombres
                                                </div>
                                            </div>
                                            <div *ngFor="let datos of getPregunta('preg_1_tabla_3').controls; let i=index" [formGroupName]="i">

                                                <div class="row" *ngIf="i==0">
                                                    <div class="col-md-3 offset-md-2 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" readonly value="Cuantas personas se benefician de esa formación" tooltip="Ayudas o beneficios para la formación externa" placeholder="Ayudas o beneficios para la formación externa"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                        
                                    </fieldset>
                                </div>


                                <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <p>¿Existe formación para el personal en materia de Igualdad de género?</p>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_18">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <p>¿Existe formación para el personal en materia de Igualdad de oportunidades?</p>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_19">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <div class="col-md-9 offset-md-2">
                                        <p>En caso afirmativo </p>
                                    </div>
                                 <div class="section" formArrayName="preg_1_tabla_3">
                                    <fieldset>                                        
                                            <div class="row">
                                                <div class="col-md-3 offset-md-2 text-md-center">                                                    			
                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Mujeres
                                                </div>
                                                <div class="col-md-1 text-md-center">
                                                    Nº Hombres
                                                </div>
                                            </div>
                                            <div *ngFor="let datos of getPregunta('preg_1_tabla_3').controls; let i=index" [formGroupName]="i">

                                                <div class="row" *ngIf="i==1">
                                                    <div class="col-md-3 offset-md-2 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" readonly value="Cuantas personas se benefician de esa formación" tooltip="formación para el personal en materia de Igualdad de oportunidades" placeholder="formación para el personal en materia de Igualdad de oportunidades"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                        
                                    </fieldset>
                                </div>
                                <div class="form-group row" formGroupName="data">
                                    
                                    <div class="col-md-4 offset-md-2">
                                        <label for="preg_20">B) Indicar su carácter obligatorio o voluntario para el personal</label>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_20">
                                            <md-radio-button value="si">Voluntaria</md-radio-button>
                                            <md-radio-button value="no">Obligatoria</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_21">C) Indicar esquema de CONTENIDOS</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_21" formControlName="preg_21" autosize placeholder="Indicar esquema de CONTENIDOS"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_22">Mencione las estrategias de difusión de los planes de formación realizado en la organización</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_22" formControlName="preg_22" autosize placeholder="Mencione las estrategias de difusión de los planes de formación realizado en la organización"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <label for="preg_23">¿Cualquier persona puede asistir a cursos impartido en el Plan de Formación de la compañía, o en los de otras administraciones con quienes colaboran?</label>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_23">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <label for="preg_24">De acuerdo a los lugares en los que realizan las formaciones en la organización responda las siguientes preguntas teniendo en cuenta la frecuencia en que se hacen en terminada situaciones:</label>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_25">En caso en que la organización realice cursos de formación fuera del horario laboral mencione de que tipo son y a que miembros de la organización van dirigidos</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_25" formControlName="preg_25" autosize placeholder="Mencione de que tipo son y a que miembros de la organización van dirigidos"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_26"> ¿Se ofrecen facilidades o compensaciones si los cursos se ofrecen fuera del horario laboral?</label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_26">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo</p>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_27">¿De qué tipo?</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_26')!='si'" class="autogrow form-control transition-height" id="preg_26"
                                        formControlName="preg_27" autosize placeholder="Tipo"></textarea>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_28"> ¿Se ofrece la posibilidad de recibir formación que no esté directamente relacionada con el puesto de trabajo?</label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_28">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo</p>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_29">¿Esta posibilidad está abierta a toda la plantilla?</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_28')!='si'" class="autogrow form-control transition-height" id="preg_29"
                                        formControlName="preg_29" autosize placeholder="¿Esta posibilidad está abierta a toda la plantilla?"></textarea>
                                </div>
                            </div>

                            <div class="col-md-9 offset-md-2">
                                <p>En caso afirmativo indique cuantas personas se benefician de esa formación</p>
                            </div>
                            <div class="section" formArrayName="preg_2_tabla_3">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 text-md-center">

                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            Nº Mujeres
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            Nº Hombres
                                        </div>
                                    </div>
                                    <div *ngFor="let datos of getPregunta('preg_2_tabla_3').controls; let i=index" [formGroupName]="i">

                                        <div class="row">
                                            <div class="col-md-3 offset-md-2 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" readonly formControlName="texto" tooltip="Formación no relacionada con puesto trabajo" placeholder="Formación no relacionada con puesto trabajo"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formArrayName="preg_3_tabla_3">
                        <fieldset>
                            <legend>Teniendo en cuenta la situación de la organización complete la siguiente información:</legend>
                            <div class="row">

                                <div class="col-md-3 offset-md-2 text-md-center">
                                    Formación
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_3_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" readonly formControlName="texto" tooltip="Formación" placeholder="Formación" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 offset-md-2 ">
                                    <div class="form-group">
                                        <div class="text-md-right">
                                            TOTAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalMujeres(ifForm.controls.preg_3_tabla_3)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalHombres(ifForm.controls.preg_3_tabla_3)}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formArrayName="preg_4_tabla_3">
                        <fieldset>
                            <legend>Número de personas beneficiarias según grupo o categoría profesional</legend>
                            <div class="row">

                                <div class="col-md-3 offset-md-2 text-md-center">
                                    Categoría
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_4_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" readonly formControlName="texto" tooltip="Categoría" placeholder="Categoría" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 offset-md-2 ">
                                    <div class="form-group">
                                        <div class="text-md-right">
                                            TOTAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalMujeres(ifForm.controls.preg_4_tabla_3)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalHombres(ifForm.controls.preg_4_tabla_3)}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>