<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Formación</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Actuaciones de la organización <span class="fw-semi-bold">en materia de formación</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{(respondidasSeccion*100)/totalSeccion}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Dispone la organización de un PLAN DE FORMACIÓN dirigido a todo o parte del personal?</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_160">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_162">A) Especifique los OBJETIVOS del Plan Formativo y a quien se dirige</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_160')!='si'" class="autogrow form-control transition-height" id="preg_162"
                                formControlName="preg_162" autosize placeholder="OBJETIVOS del Plan Formativo y a quien se dirige"></textarea>
                        </div>
                        <div class="w-100"></div>

                        <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_163">B) Mencione las personas responsables del plan formativo tanto en la fase de diseño como de ejecución del mismo (indíquese su posición dentro de la organización)</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_160')!='si'" class="autogrow form-control transition-height" id="preg_163"
                                formControlName="preg_163" autosize placeholder="Personas responsables del plan formativo"></textarea>
                        </div>
                    </div>



                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Dispone la organización de mecanismos de detección de necesidades formativas?</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_164">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_165">Indíquense cuáles</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_164')!='si'" class="autogrow form-control transition-height" id="preg_165"
                                formControlName="preg_165" autosize placeholder="Indíquense cuáles"></textarea>
                        </div>
                        <div class="w-100"></div>
                    </div>
                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <p>Disfruta su organización de convenios especiales con otras organizaciones o administraciones
                                para que el personal pueda realizar formación?</p>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_166">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_167">Especifique las organizaciones con quien mantiene convenios o acuerdo para la formación</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_166')!='si'" class="autogrow form-control transition-height" id="preg_167"
                                formControlName="preg_167" autosize placeholder="Organizaciones con quien mantiene convenios o acuerdo para la formación"></textarea>
                        </div>
                        <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_168">Mencione cuales son los criterios de selección de las personas destinatarias  de la oferta formativa</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_167')!='si'" class="autogrow form-control transition-height" id="preg_168"
                                formControlName="preg_168" autosize placeholder="Criterios de selección"></textarea>
                        </div>
                    </div>

                    <!--<div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_10">En caso de existir oferta formativa, defínanse brevemente líneas esenciales</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_164')!='si'" class="autogrow form-control transition-height" id="preg_10"
                                formControlName="preg_10" autosize placeholder="Defínanse brevemente líneas esenciales"></textarea>
                        </div>

                        
                    </div>-->

                    <div class="form-group row" style="margin-top:40px" formGroupName="data">
                        <div class="col-md-5 offset-md-2">
                            <label for="preg_12">La formación que realiza la organización es obligatoria o voluntaria</label>
                        </div>
                        <div class="col-md-2">
                            <md-radio-group formControlName="preg_169">
                                <md-radio-button value="si">Si</md-radio-button>
                                <md-radio-button value="no">No</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 offset-md-2">
                            <p>En caso afirmativo</p>
                        </div>
                        <div class="col-md-8 offset-md-2"><label for="preg_170">Especifique si hubiera diferentes tipos</label></div>
                        <div class="col-md-8 offset-md-2">
                            <textarea rows="3" [readonly]="getValorElemento('data.preg_169')!='si'" class="autogrow form-control transition-height" id="preg_170"
                                formControlName="preg_170" autosize placeholder="Especifique si hubiera diferentes tipos"></textarea>
                        </div>
                    </div>

                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend>Percepción de la participación femenina en los cursos de formación interna</legend>
                            <div class="col-md-5 offset-md-2">
                                <p>Marque la frecuencia con la que participan las mujeres</p>
                            </div>
                            <div class="col-md-1 offset-md-2" formGroupName="data">
                                <md-radio-group formControlName="preg_171">
                                    <md-radio-button value="4">Mayoritariamente</md-radio-button>
                                    <md-radio-button value="3">Generalmente</md-radio-button>
                                    <md-radio-button value="2">A veces</md-radio-button>
                                    <md-radio-button value="1">Poco</md-radio-button>
                                    <md-radio-button value="0">Nada</md-radio-button>
                                </md-radio-group>
                            </div>

                            <div class="form-group" style="margin-top:40px">
                                <div class="col-md-9 offset-md-2">
                                    <p>De acuerdo a las ayudas o beneficios para la formación responda las siguientes preguntas</p>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <p>Existe previsión/provisión de ayudas o beneficios para la formación externa</p>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_173">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <div class="col-md-9 offset-md-2">
                                    <p>En caso afirmativo indique cuantas personas se benefician de esa formación</p>
                                </div>

                                <div class="section" formArrayName="preg_174_tabla_3">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-3 offset-md-2 text-md-center">

                                            </div>
                                            <div class="col-md-1 text-md-center">
                                                Nº Mujeres
                                            </div>
                                            <div class="col-md-1 text-md-center">
                                                Nº Hombres
                                            </div>
                                        </div>
                                        <div *ngFor="let datos of getPregunta('preg_174_tabla_3').controls; let i=index" [formGroupName]="i">

                                            <div class="row" *ngIf="i==0">
                                                <div class="col-md-3 offset-md-2 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" readonly value="Cuantas personas se benefician de esa formación" tooltip="Ayudas o beneficios para la formación externa"
                                                                placeholder="Ayudas o beneficios para la formación externa" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                        </div>
                                                        <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_174_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                            {{serviceErrores.objetoErrores['numerico']}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                        </div>
                                                        <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_174_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                            {{serviceErrores.objetoErrores['numerico']}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>


                                <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <p>¿Existe formación para el personal en materia de Igualdad de género?</p>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_177">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>


                                <div class="col-md-9 offset-md-2">
                                    <p>En caso afirmativo </p>
                                </div>
                                <div class="section" formArrayName="preg_174_tabla_3">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-3 offset-md-2 text-md-center">
                                            </div>
                                            <div class="col-md-1 text-md-center">
                                                Nº Mujeres
                                            </div>
                                            <div class="col-md-1 text-md-center">
                                                Nº Hombres
                                            </div>
                                        </div>
                                        <div *ngFor="let datos of getPregunta('preg_174_tabla_3').controls; let i=index" [formGroupName]="i">

                                            <div class="row" *ngIf="i==1">
                                                <div class="col-md-3 offset-md-2 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" readonly value="Cuantas personas se benefician de esa formación" tooltip="formación para el personal en materia de Igualdad de oportunidades"
                                                                placeholder="formación para el personal en materia de Igualdad de oportunidades"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                        </div>
                                                        <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_174_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                            {{serviceErrores.objetoErrores['numerico']}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                        </div>
                                                        <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_174_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                            {{serviceErrores.objetoErrores['numerico']}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div style="margin-top:40px" class="form-group row" formGroupName="data">

                                    <div class="col-md-4 offset-md-2">
                                        <label for="preg_179">A) Indicar su carácter obligatorio o voluntario para el personal</label>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_179">
                                            <md-radio-button value="si">Voluntaria</md-radio-button>
                                            <md-radio-button value="no">Obligatoria</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_180">B) Indicar esquema de CONTENIDOS</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_180" formControlName="preg_180" autosize placeholder="Indicar esquema de CONTENIDOS"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_181">Mencione las estrategias de difusión de los planes de formación realizado en la organización</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_181" formControlName="preg_181" autosize placeholder="Mencione las estrategias de difusión de los planes de formación realizado en la organización"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-4 offset-md-2">
                                        <label for="preg_182">¿Puede solicitar el personal la asistencia a cualquier curso impartido en el Plan de Formación de la organización o de otras admones? </label>
                                    </div>
                                    <div class="col-md-2">
                                        <md-radio-group formControlName="preg_182">
                                            <md-radio-button value="si">Si</md-radio-button>
                                            <md-radio-button value="no">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>

                                <div class="form-group" formGroupName="data">
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <label>De acuerdo a los lugares en los que realizan las formaciones en la organización responda las siguientes preguntas teniendo en cuenta la frecuencia en que se hacen en terminada situaciones:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_184">En el lugar de trabajo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_184">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_185">Fuera del lugar de trabajo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_185">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_186">Online o Semipresencial</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_186">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_187">En jornada laboral</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_187">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="preg_188">Fuera de la jornada laboral</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <md-radio-group formControlName="preg_188">
                                                <md-radio-button value="1">Siempre</md-radio-button>
                                                <md-radio-button value="2">Casi siempre</md-radio-button>
                                                <md-radio-button value="3">Nunca</md-radio-button>
                                                <md-radio-button value="4">A veces</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" formGroupName="data">
                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_190">En caso en que la organización realice cursos de formación fuera del horario laboral mencione de que tipo son y a que miembros de la organización van dirigidos</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" class="autogrow form-control transition-height" id="preg_190" formControlName="preg_190" autosize placeholder="Mencione de que tipo son y a que miembros de la organización van dirigidos"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_191"> ¿Se ofrecen facilidades o compensaciones si los cursos se ofrecen fuera del horario laboral?</label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_191">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo</p>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_192">¿De qué tipo?</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_191')!='si'" class="autogrow form-control transition-height" id="preg_192"
                                        formControlName="preg_192" autosize placeholder="Tipo"></textarea>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_28"> ¿Se ofrece la posibilidad de recibir formación que no esté directamente relacionada con el puesto de trabajo?</label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_193">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-6 offset-md-2">
                                    <p>En caso afirmativo</p>
                                </div>
                                <div class="col-md-8 offset-md-2"><label for="preg_194">¿Esta posibilidad está abierta a toda la plantilla?</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" [readonly]="getValorElemento('data.preg_193')!='si'" class="autogrow form-control transition-height" id="preg_194"
                                        formControlName="preg_194" autosize placeholder="¿Esta posibilidad está abierta a toda la plantilla?"></textarea>
                                </div>
                            </div>

                            <div class="col-md-9 offset-md-2">
                                <p>En caso afirmativo indique cuantas personas se benefician de esa formación</p>
                            </div>
                            <div class="section" formArrayName="preg_195_tabla_3">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 text-md-center">

                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            Nº Mujeres
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            Nº Hombres
                                        </div>
                                    </div>
                                    <div *ngFor="let datos of getPregunta('preg_195_tabla_3').controls; let i=index" [formGroupName]="i">

                                        <div class="row">
                                            <div class="col-md-3 offset-md-2 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" readonly formControlName="texto" tooltip="Formación no relacionada con puesto trabajo" placeholder="Formación no relacionada con puesto trabajo"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                    </div>
                                                    <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_195_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                        {{serviceErrores.objetoErrores['numerico']}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 ">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                    </div>
                                                    <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_195_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                        {{serviceErrores.objetoErrores['numerico']}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formArrayName="preg_199_tabla_3">
                        <fieldset>
                            <legend>Teniendo en cuenta la situación de la organización complete la siguiente información:</legend>
                            <div class="row">

                                <div class="col-md-3 offset-md-2 text-md-center">
                                    Formación
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_199_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" readonly formControlName="texto" tooltip="Formación" placeholder="Formación" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_199_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_199_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 offset-md-2 ">
                                    <div class="form-group">
                                        <div class="text-md-right">
                                            TOTAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalMujeres(ifForm.controls.preg_199_tabla_3)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalHombres(ifForm.controls.preg_199_tabla_3)}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px" formArrayName="preg_200_tabla_3">
                        <fieldset>
                            <legend>Número de personas beneficiarias según grupo o categoría profesional</legend>
                            <div class="row">

                                <div class="col-md-3 offset-md-2 text-md-center">
                                    Categoría
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Mujeres
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº Hombres
                                </div>
                            </div>
                            <div *ngFor="let datos of getPregunta('preg_200_tabla_3').controls; let i=index" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-3 offset-md-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" readonly formControlName="texto" tooltip="Categoría" placeholder="Categoría" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_200_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                            </div>
                                            <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_200_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                {{serviceErrores.objetoErrores['numerico']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 offset-md-2 ">
                                    <div class="form-group">
                                        <div class="text-md-right">
                                            TOTAL
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalMujeres(ifForm.controls.preg_200_tabla_3)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <div class="text-md-center">
                                            {{getTotalHombres(ifForm.controls.preg_200_tabla_3)}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>