<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a href="index.html" title="FORMULARIO DE DIAGNÓSTICO DE IGUALDAD"><img class="rounded-circle" src="assets/img/icono.jpg" alt="Equality Momentum" title="Equality Momentum"> {{config.name}}</a>
  </header>
  
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">
    <li *ngIf="authService.perfilauth =='USER'">
      <a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
          <span class="icon">
            <i class="fa fa-desktop"></i>
          </span>
        Dashboard Tipo {{authService.tipocuest}}
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-dashboard" class="collapse">       
        <li><a [routerLink]=" ['dashboard'] ">Dashboard</a></li>        
        <li><a [routerLink]=" ['introduccion'] ">Introducción</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['informacionbasica'] ">Información Básica</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['clasificacionprofesional1'] ">Clasificación Profesional I</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['clasificacionprofesional2'] ">Clasificación Profesional II</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['retribuciones'] ">Retribuciones</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['retribuciones2'] ">Retribuciones2</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['selpersonal'] ">Acceso al Empleo</a></li>
        <!-- <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Incorporaciones y Bajas</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Conciliacion Familiar</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Formación</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Promoción y Carrera Profesional</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Salud Laboral y PRL</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Acoso Sexual y por razon de Sexo</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Representación de Personal</a></li>
        <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" [''] ">Comunicación</a></li>
        -->
         
         <li *ngIf="authService.tipocuest=='2'"><a [routerLink]=" ['informacionbasicapr'] ">Información Básica cuest2</a></li>
      </ul>
    </li>

    <li *ngIf="authService.perfilauth=='ADM'">
      <a class="collapsed" data-target="#sidebar-dashboardadmin" data-toggle="collapse" data-parent="#sidebar">
          <span class="icon">
            <i class="fa fa-desktop"></i>
          </span>
        Admin
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-dashboardadmin" class="collapse">
        <li><a [routerLink]=" ['dashboardadmin'] "><i class="glyphicon glyphicon-tree-conifer"></i>Dashboard Admin</a></li>
        
        
        <!-- rutas y enlaces para amin cuestionarios tipo=1 que son de empresa pública -->  
          <!-- <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" ['infoencuestapb'] ">Inicio</a></li>  -->    
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" ['clasificacionprofesionaladm'] ">1 Clasificación Profesional</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" ['tipodecontratoadm'] ">Tipo de Contrato</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" ['retribucionesadm'] ">Estructura Salarial</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" ['retribucionesadm2'] ">Estructura Salarial 2</a></li>
         <!--  <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" [''] ">Bajas e Incorporaciones</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" [''] ">Conciliacion Familiar</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" [''] ">Formación</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" [''] ">Promoción y Carrera Profesional</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" [''] ">Acoso por Razón de Sexo</a></li>
          <li *ngIf="authService.tipocuest=='1' && authService.perfilauth=='ADM'" ><a [routerLink]=" [''] ">Representación Plantilla</a></li>
        -->
        <!-- fin enlaces empresa pública -->
        
        <!-- rutas y enlaces para amin cuestionarios tipo=1 que son de empresa privada -->   
          <li *ngIf="authService.tipocuest=='2' && authService.perfilauth=='ADM'" ><a [routerLink]=" ['infoencuestapr'] ">Inicio</a></li>    
          <li *ngIf="authService.tipocuest=='2' && authService.perfilauth=='ADM'"><a [routerLink]=" [''] ">2 Clasificación Profesional</a></li>      
        <!-- fin enlaces empresa pública -->


        
      </ul>

     

    </li>
  </ul>
</div>
