<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a *ngIf="perfil=='USER'" [routerLink]=" ['/app/'] " title="FORMULARIO DE DIAGNÓSTICO DE IGUALDAD"><img class="rounded-circle" src="assets/img/icono.jpg" alt="Equality Momentum" title="Equality Momentum"> {{config.name}}</a>
    <a *ngIf="perfil=='ADM'" [routerLink]=" ['/app/admin'] " title="FORMULARIO DE DIAGNÓSTICO DE IGUALDAD"><img class="rounded-circle" src="assets/img/icono.jpg" alt="Equality Momentum" title="Equality Momentum"> {{config.name}}</a>
  </header>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav" *ngIf="perfil=='USER'">
    <!-- <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['dashboard'] " title="Inicio"><span class="icon"><i class="fa fa-desktop"></i></span>Inicio</a></li> -->
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['introduccion'] " title="Introducción"><span class="icon"><i class="fa fa-desktop"></i></span>Introducción</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['informacionbasica'] "><span class="icon"><i class="glyphicon glyphicon-stats"></i></span>Información Básica</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['clasificacionprofesional1'] " title="Clasificación Profesional I">Clasificación Prof. I</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['clasificacionprofesional2'] " title="Clasificación Profesional II">Clasificación Prof. II</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['retribuciones'] " title="Retribuciones I">Retribuciones I</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['retribuciones2'] " title="Retribuciones II">Retribuciones II</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['selpersonal'] " title="Acceso al Empleo">Acceso al Empleo</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['bajaseincorp'] " title="Incorporaciones y Bajas">Incorporaciones/Bajas</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['conciliacion'] " title="Conciliacion Familiar">Conciliacion Familiar</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['formacion'] " title="Formación">Formación</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['promocarrera'] " title="Promoción y Carrera Profesional">Promoción y C.P.</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['prll'] "title="Salud Laboral y Prevención de Riesgos Laborales">Salud Laboral y PRLL</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['acospr'] " title="Acoso Sexual y por razon de Sexo">Acoso Sexual...</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['rrpp'] " title="Representación de Personal">Rep. de Personal</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['comunicacion']" title="Comunicación">Comunicación</a></li>
    
    <li *ngIf="authService.tipocuest=='2'"><a [routerLink]=" ['introduccionpr'] " title="Introducción"><span class="icon"><i class="fa fa-desktop"></i></span>Introducción</a></li>
    <li *ngIf="authService.tipocuest=='2'"><a [routerLink]=" ['informacionbasicapr'] "><span class="icon"><i class="glyphicon glyphicon-stats"></i></span>Información Básica</a></li>
    <li *ngIf="authService.tipocuest=='2'"><a [routerLink]=" ['clasificacionprofesional1pr'] " title="Clasificación Profesional I">Clasificación Prof. I</a></li>
    <li *ngIf="authService.tipocuest=='2'"><a [routerLink]=" ['clasificacionprofesional2pr'] " title="Clasificación Profesional II">Clasificación Prof. II</a></li>

  </ul>
  <ul class="sidebar-nav" id="sidebar-dashboardadmin" *ngIf="perfil=='ADM'">
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['dashboardadmin'] ">Dashboard Admin</a></li>
    <!-- rutas y enlaces para amin cuestionarios tipo=1 que son de empresa pública -->
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['infoencuestapb'] ">Inicio</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['clasificacionprofesionaladm'] ">Clasificación Profesional</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['tipodecontratoadm'] ">Tipo de Contrato</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['retribucionesadm'] ">Estructura Salarial</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['retribucionesadm2'] ">Estructura Salarial 2</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['bajaseincorpadm'] ">Bajas e Incorporaciones</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['conciliacionadm'] ">Conciliacion Familiar</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['formacionadm'] ">Formación</a></li>
    <li *ngIf="authService.tipocuest=='1'"><a [routerLink]=" ['promocarreraadm']" title="Promoción y Carrera Profesional">Promoción y C.P.</a></li>
    <li *ngIf="authService.tipocuest=='1'" ><a [routerLink]=" ['acospradm'] ">Acoso</a></li>
    <li *ngIf="authService.tipocuest=='1'" ><a [routerLink]=" ['rrppadm'] ">Representación Plantilla</a></li>   
    <!-- fin enlaces empresa pública -->

    
    <!-- rutas y enlaces para amin cuestionarios tipo=1 que son de empresa privada -->
    <li *ngIf="authService.tipocuest=='2' && authService.perfilauth=='ADM'"><a [routerLink]=" ['infoencuestapr'] ">Inicio</a></li>
    <li *ngIf="authService.tipocuest=='2' && authService.perfilauth=='ADM'"><a [routerLink]=" [''] ">2 Clasificación Profesional</a></li>
    <!-- fin enlaces empresa pública -->
  </ul>
</div>