<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Promoción y carrera profesional</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">Promoción y <span class="fw-semi-bold">Carrera Profesional</span></h1>
    </div>
    <!-- <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic+'%'}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                     <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div> -->
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <legend>ACTUACIONES DE LA ORGANIZACIÓN EN MATERIA DE PROMOCIÓN Y CARRERA PROFESIONAL</legend>
                            <div class="form-group row">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_210">
                                        La organización cuenta con un plan de carrera definido?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_210">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_210.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_212">A) Indique para qué categorías</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_210')!='si'" class="autogrow form-control transition-height" id="preg_212"
                                            formControlName="preg_212" autosize placeholder="Categorías"></textarea>
                                    </div>
                                    <div class="w-100"></div>

                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_213">B) Indicar para qué niveles jerárquicos</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_210')!='si'" class="autogrow form-control transition-height" id="preg_213"
                                            formControlName="preg_213" autosize placeholder="Niveles jerárquicos"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_214">
                                        Dispone la organización de  sistemas  de  evaluación  del  personal  de acuerdo a la promoción interna?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_214">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_214.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_215">Describa brevemente de los criterios utilizados</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_214')!='si'" class="autogrow form-control transition-height" id="preg_215"
                                            formControlName="preg_215" autosize placeholder="Criterios utilizados"></textarea>
                                    </div>
                                    <div class="w-100"></div>

                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_216">Describa brevemente de la metodología empleada</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_214')!='si'" class="autogrow form-control transition-height" id="preg_216"
                                            formControlName="preg_216" autosize placeholder="Metodología empleada"></textarea>
                                    </div>

                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_217">Describa brevemente el procedimiento utilizado</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_214')!='si'" class="autogrow form-control transition-height" id="preg_217"
                                            formControlName="preg_217" autosize placeholder="Procedimiento utilizado"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-8 offset-md-2">
                                    <label for="preg_218">
                                     Mencione los órgano/s a quien/es corresponde la decisión final sobre la promoción del personal.
                                    </label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_218" formControlName="preg_218" autosize placeholder="Mencione los órgano/s a quien/es corresponde la decisión final sobre la promoción del personal"></textarea>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_219">
                                        ¿Se ha puesto en marcha alguna acción para incentivar la promoción de las mujeres en la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_219">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_219.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_220">Detalle brevemente en qué consisten</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_219')!='si'" class="autogrow form-control transition-height" id="preg_220"
                                            formControlName="preg_220" autosize placeholder="Detalle brevemente en qué consisten"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_221">
                                        ¿Considera que las responsabilidades familiares pudieran influir en la promoción dentro de la organización?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_221">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_221.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_222">¿Influye de igual manera en hombres y en mujeres?¿Por qué razones?</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_221')!='si'" class="autogrow form-control transition-height" id="preg_222"
                                            formControlName="preg_222" autosize placeholder="¿Influye de igual manera en hombres y en mujeres?¿Por qué razones?"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_223">
                                        ¿Es habitual la promoción ligada a la movilidad geográfica?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_223">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_223.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_224">Indique por favor en que tipos de cargos se presenta</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_223')!='si'" class="autogrow form-control transition-height" id="preg_224"
                                            formControlName="preg_224" autosize placeholder="Indique por favor en que tipos de cargos se presenta"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_225">
                                        La organización cuenta con algún tipo de incentivo para la promoción de mujeres
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_225">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_225.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_226">Indique por favor cuales son los incentivos utilizados</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_225')!='si'" class="autogrow form-control transition-height" id="preg_226"
                                            formControlName="preg_226" autosize placeholder="Indique por favor cuales son los incentivos utilizados"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_227">
                                       Previsión de programas formativos orientados directamente a la promoción interna
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_227">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_227.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_228">Indicar qué categorías y niveles jerárquicos</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_227')!='si'" class="autogrow form-control transition-height" id="preg_228"
                                            formControlName="preg_228" autosize placeholder="Indicar qué categorías y niveles jerárquicos"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_229">
                                      La organización realiza campañas de publicidad de las vacantes para promoción interna?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_229">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_229.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_230">Indicar mecanismo/s de publicidad utilizado/s</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_229')!='si'" class="autogrow form-control transition-height" id="preg_230"
                                            formControlName="preg_230" autosize placeholder="Indicar mecanismo/s de publicidad utilizado/s"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" style="margin-top:40px">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_231">
                                      La organización reconoce los períodos suspensivos a efectos de la promoción?
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_231">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                    <div class="section" *ngIf="ifForm.controls.data.controls.preg_231.value=='si'">
                        <fieldset>
                            <div formArrayName="preg_233_tabla_6">
                                <div class="row">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <label for="preg_233_tabla_6">Indicar cuáles (márquense sólo los que procedan).</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Grupos Profesionales
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Maternidad
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Paternidad
                                    </div>
                                    <div class="col-md-2 text-md-center">
                                        Excedencia cuidado hijos/as
                                    </div>
                                    <div class="col-md-2 text-md-center">
                                        Excedencia cuidado otros/as familiares
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_233_tabla_6').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto1" tooltip="Grupos Profesionales" placeholder="Grupos Profesionales" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            <md-checkbox formControlName="texto2"></md-checkbox>
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            <md-checkbox formControlName="texto3"></md-checkbox>
                                        </div>
                                        <div class="col-md-2 text-md-center">
                                            <md-checkbox formControlName="texto4"></md-checkbox>
                                        </div>
                                        <div class="col-md-2 text-md-center">
                                            <md-checkbox formControlName="texto5"></md-checkbox>
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            <span *ngIf="i > 1">
                                            <button type="button" (click)="removeFila(ifForm.controls.preg_233_tabla_6, i,'preg_233_tabla_6')" class="btn btn-danger btn-xs mb-xs">Borrar</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila6(ifForm.controls.preg_233_tabla_6)" type="button" class="btn btn-success btn-xs mb-xs">Añade Grupo P.</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" *ngIf="ifForm.controls.data.controls.preg_231.value=='si'">
                        <fieldset>
                            <div formArrayName="preg_234_tabla_6">
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Grupos Profesionales
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Permiso por Riesgo durante el Embarazo
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Permiso por Riesgo durante la Lactancia
                                    </div>
                                    <div class="col-md-2 text-md-center">
                                        Bajas por enfermedad derivada del embarazo
                                    </div>
                                    <div class="col-md-2 text-md-center">
                                        Baja por enfermedad derivada del parto
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_234_tabla_6').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto1" tooltip="Grupos Profesionales" placeholder="Grupos Profesionales" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            <md-checkbox formControlName="texto2"></md-checkbox>
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            <md-checkbox formControlName="texto3"></md-checkbox>
                                        </div>
                                        <div class="col-md-2 text-md-center">
                                            <md-checkbox formControlName="texto4"></md-checkbox>
                                        </div>
                                        <div class="col-md-2 text-md-center">
                                            <md-checkbox formControlName="texto5"></md-checkbox>
                                        </div>
                                        <div class="col-md-1 text-md-center">
                                            <span *ngIf="i > 1">
                                            <button type="button" (click)="removeFila(ifForm.controls.preg_234_tabla_6, i,'preg_233_tabla_6')" class="btn btn-danger btn-xs mb-xs">Borrar</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila6(ifForm.controls.preg_234_tabla_6)" type="button" class="btn btn-success btn-xs mb-xs">Añade Grupo P.</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>







                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend>ACTUACIONES DE LA ORGANIZACIÓN EN MATERIA DE CALIDAD Y ESTABILIDAD EN EL EMPLEO</legend>
                            <div class="form-group row" >
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_235">
                                        Existencia  de  posibilidades  de  transformación  de  contrato  a tiempo parcial en tiempo completo
                                    </label>
                                </div>
                                <div class="col-md-2" formGroupName="data">
                                    <md-radio-group formControlName="preg_235">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_235.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_236">Indicar Publicidad y requisitos</label></div>
                                    <div class="col-md-8 offset-md-2" formGroupName="data">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_235')!='si'" class="autogrow form-control transition-height" id="preg_236"
                                            formControlName="preg_236" autosize placeholder="Publicidad y requisitos"></textarea>
                                    </div>
                                    <div class="w-100"></div>

                                    <div class="col-md-8 offset-md-2" style="margin-top:40px"><label for="preg_237">Explicar brevemente procedimiento</label></div>
                                    <div class="col-md-8 offset-md-2" formGroupName="data">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_235')!='si'" class="autogrow form-control transition-height" id="preg_237"
                                            formControlName="preg_237" autosize placeholder="Explicar brevemente procedimiento"></textarea>
                                    </div>

                                    <div class="section" style="margin-top:40px">
                                        <fieldset>
                                            <div formArrayName="preg_243_tabla_3">
                                                <div class="row">
                                                    <div class="col-md-5 offset-md-2 text-md-center">
                                                        CALIDAD EN EL EMPLEO
                                                    </div>
                                                    <div class="col-md-1 text-md-center">
                                                        Mujeres
                                                    </div>
                                                    <div class="col-md-1 text-md-center">
                                                        Hombres
                                                    </div>
                                                </div>
                                                <div *ngFor="let datos of getPregunta('preg_243_tabla_3').controls; let i=index" [formGroupName]="i">

                                                    <div class="row">
                                                        <div class="col-md-5 offset-md-2 ">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <span class="form-control">
                                                        {{ (ifForm.controls['preg_243_tabla_3']).controls[i].controls['texto'].value }}
                                                    </span>
                                                                    <input class="form-control" readonly hidden formControlName="texto" tooltip="CALIDAD EN EL EMPLEO" placeholder="CALIDAD EN EL EMPLEO"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 ">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                                </div>
                                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_243_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 ">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                                </div>
                                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_243_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top:40px" formGroupName="data">
                                <div class="col-md-4 offset-md-2">
                                    <label for="preg_238">
                                       Existencia  de  posibilidades  de  transformación  de  contrato temporal en indefinido
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_238">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-12" *ngIf="ifForm.controls.data.controls.preg_238.value=='si'">
                                    <div class="col-md-6 offset-md-2">
                                        <p>En caso afirmativo</p>
                                    </div>
                                    <div class="col-md-8 offset-md-2"><label for="preg_239">Indique el procedimiento utilizado por la organización y cuales son los requisitos</label></div>
                                    <div class="col-md-8 offset-md-2">
                                        <textarea rows="3" [readonly]="getValorElemento('data.preg_238')!='si'" class="autogrow form-control transition-height" id="preg_239"
                                            formControlName="preg_239" autosize placeholder="Procedimiento utilizado por la organización y cuales son los requisitos"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <div formArrayName="preg_240_tabla_3">
                                <div class="row">
                                    <div class="col-md-5 offset-md-2 text-md-center">
                                        Promoción
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Hombres
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_240_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-5 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" readonly formControlName="texto" tooltip="Promoción" placeholder="Promoción" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_240_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_240_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <div formArrayName="preg_241_tabla_3">
                                <div class="row">
                                    <div class="col-md-5 offset-md-2 text-md-center">
                                        ASCENSOS POR CARGOS
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Hombres
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_241_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-5 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="ASCENSOS POR CARGOS " placeholder="ASCENSOS POR CARGOS " />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_241_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_241_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <span *ngIf="getPregunta('preg_241_tabla_3').controls.length > 1">
                                     <button type="button"(click)="removeFila(ifForm.controls.preg_241_tabla_3, i,'preg_241_tabla_3')" class="btn btn-danger btn-xs mb-xs">Borrar</button> 
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila3(ifForm.controls.preg_241_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Ascenso</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <div formArrayName="preg_242_tabla_3">
                                <div class="row">
                                    <div class="col-md-5 offset-md-2 text-md-center">
                                        Ascensos por categorías profesionales
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Hombres
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_242_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-5 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="Ascensos por categorías profesionales " placeholder="Ascensos por categorías profesionales"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_242_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_242_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <span *ngIf="getPregunta('preg_242_tabla_3').controls.length > 1">
                                     <button type="button"(click)="removeFila(ifForm.controls.preg_242_tabla_3, i,'preg_242_tabla_3')" class="btn btn-danger btn-xs mb-xs">Borrar</button> 
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila3(ifForm.controls.preg_242_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Ascenso</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>



                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <div class="col-md-8 offset-md-2">
                                De acuerdo con las promociones que se presentaron el en último año en la organización diligencie la siguiente tabla
                            </div>
                            <div formArrayName="preg_244_tabla_3">
                                <div class="row">
                                    <div class="col-md-5 offset-md-2 text-md-center">
                                        <strong>Promociones Último Año</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        TIPO DE PROMOCIÓN
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Hombres
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_244_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="TIPO DE PROMOCIÓN " placeholder="TIPO DE PROMOCIÓN" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_244_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_244_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px">
                        <fieldset>

                            <div formArrayName="preg_245_tabla_3">
                                <div class="row">
                                    <div class="col-md-5 offset-md-2 text-md-center">
                                        <strong>Promociones Último Año</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-md-2 text-md-center">
                                        Promociones por categorías profesionales
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Mujeres
                                    </div>
                                    <div class="col-md-1 text-md-center">
                                        Hombres
                                    </div>
                                </div>
                                <div *ngFor="let datos of getPregunta('preg_245_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-3 offset-md-2 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="Promociones por categorías profesionales " placeholder="Promociones por categorías profesionales"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_245_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_245_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <span *ngIf="getPregunta('preg_245_tabla_3').controls.length > 1">
                                     <button type="button"(click)="removeFila(ifForm.controls.preg_245_tabla_3, i,'preg_245_tabla_3')" class="btn btn-danger btn-xs mb-xs">Borrar</button> 
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila3(ifForm.controls.preg_245_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Promoción</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>