<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item active">Información Básica</li>
</ol>
<h1 class="page-title">Información <span class="fw-semi-bold">Básica Empresa Privada</span></h1>
<div class="row">
  <div class="col-lg-12">
    <section class="widget" widget>
      <div class="widget-body">
        <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
            <fieldset>
                <legend>Datos de la  <strong>Empresa</strong></legend>                  

                    <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="empresa">RAZÓN SOCIAL EMPRESA</label>
                        <div class="col-md-8 ">
                            <input type="text" formControlName="empresa" class="form-control" 
                                tooltip="RAZÓN SOCIAL EMPRESA"
                                placeholder="RAZÓN SOCIAL EMPRESA" />
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="cif">CIF</label>
                        <div class="col-md-8 ">
                            <input type="text" class="form-control" 
                            formControlName="cif" 
                                tooltip="CIF"
                                placeholder="CIF" />
                        </div>
                    </div>
                    
                   <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="sector">Sector Productivo</label>
                        <div class="col-md-8 ">
                            <input type="text" class="form-control" 
                            formControlName="sector"
                                tooltip="Sector Productivo"
                                placeholder="Sector Productivo" />
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="convenio">Convenio Colectivo</label>
                        <div class="col-md-8 ">
                            <input type="text" class="form-control" 
                            formControlName="convenio"
                                tooltip="Convenio Colectivo"
                                placeholder="Convenio Colectivo" />
                        </div>
                    </div>

                     

                     <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="ambito">Ámbito</label>
                        <div class="col-md-8 ">
                            <input type="text" class="form-control" 
                            formControlName="ambito"                                
                                tooltip="Ámbito"
                                placeholder="Ámbito" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="domicilio">Domicilio social</label>
                        <div class="col-md-8 ">
                            <input type="text"class="form-control" 
                            formControlName="domicilio"
                                tooltip="Domicilio social"
                                placeholder="Domicilio social" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="web">Web</label>
                        <div class="col-md-8 ">
                            <input type="text"class="form-control" 
                            formControlName="web"
                                tooltip="Web"
                                placeholder="Web" />
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="num_centros">Nº de Centros de Trabajo</label>
                        <div class="col-md-8 ">
                            <input type="text"class="form-control" 
                            formControlName="num_centros"
                                tooltip="Nº de Centros de Trabajo"
                                placeholder="Nº de Centros de Trabajo" />
                        </div>
                    </div>

                     <div class="form-group row">
                        <label class="col-md-3  col-form-label text-md-right" for="num_comunidades">Nº de Comunidades</label>
                        <div class="col-md-8 ">
                            <input type="text"class="form-control" 
                            formControlName="num_comunidades"
                                tooltip="Nº de Comunidades"
                                placeholder="Nº de Comunidades" />
                        </div>
                    </div>
                    
            </fieldset>


             <fieldset style="margin-top:40px">
                <legend>Información de  <strong>Contacto</strong></legend> 
                  <div class="form-group row">
                    <label class="col-md-3  col-form-label text-md-right" for="personas">Personas de contacto</label>
                    <div class="col-md-8 ">
                        <input type="text" class="form-control" 
                        formControlName="personas"
                            tooltip="Personas de contacto"
                            placeholder="Personas de contacto" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3  col-form-label text-md-right" for="telefonos">Teléfono Fijo y Móvil</label>
                    <div class="col-md-4 ">
                        <input type="text" class="form-control" 
                        formControlName="telefonos"
                            tooltip="Personas de contacto"
                            placeholder="Personas de contacto" />
                    </div>
                  
                    <label class="col-md-1  col-form-label text-md-right" for="email">E-Mail</label>
                    <div class="col-md-3 ">
                        <input type="text" class="form-control" 
                        formControlName="email"
                            tooltip="E-Mail"
                            placeholder="E-Mail" />
                    </div>
                  </div>

                   <div class="form-group row">
                    <label class="col-md-3  col-form-label text-md-right" for="personas">Personas de contacto</label>
                    <div class="col-md-8 ">
                        <input type="text" class="form-control" 
                        formControlName="personas"
                            tooltip="Personas de contacto"
                            placeholder="Personas de contacto" />
                    </div>
                  </div>

                  <div class="row">&nbsp;</div>

                  <h4>Fecha de cumplimentación</h4>
                   <div class="form-group row">
                    <label class="col-md-3  col-form-label text-md-right" for="dia">Día</label>
                    <div class="col-md-1 ">
                        <input type="text" class="form-control" 
                       formControlName="dia"
                            tooltip="Día"
                            placeholder="Día" />
                    </div>
                 
                    <label class="col-md-1  col-form-label text-md-right" for="mes">Mes</label>
                    <div class="col-md-1 ">
                        <input type="text" class="form-control" 
                        formControlName="mes"
                            tooltip="Mes"
                            placeholder="Mes" />
                    </div>
                 
                    <label class="col-md-1  col-form-label text-md-right" for="anyo">Año</label>
                    <div class="col-md-1 ">
                        <input type="text" class="form-control" 
                        formControlName="anyo"
                            tooltip="Año"
                            placeholder="Año" />
                    </div>
                  </div>

            </fieldset>
            

            <fieldset style="margin-top:40px">
                <div class="abc-checkbox abc-checkbox-primary">
                  
                  <input id="preg_24" type="checkbox"  
                    formControlName="preg_24" />
                  <label for="preg_24">
                   ¿Desarrolla la organización actividades productivas diferenciadas? 
                  </label>
                </div>
                <p>En caso afirmativo, detállense las actividades y los centros en que se desarrollan</p>
                
                <legend>Centro / Actividad</legend>
                <div class="row">
                        <div class="col-md-5 ">
                          <div class="form-group">
                            <label >Centro:</label>
                          </div>
                        </div>
                        <div class="col-md-5 ">
                             <div class="form-group">
                              <label >Actividad:</label>
                             </div>
                        </div>
                </div>
                 <div formArrayName="preg_2_tabla_2">
                   <div *ngFor="let centroact of preg_2_tabla_2.controls; let i=index" [formGroupName]="i" >
                      
                      <div class="row">
                        <div class="col-md-5 ">
                          <div class="form-group">
                           <div class="input-group">
                              <input class="form-control" formControlName="centro" tooltip="Centro"
                            placeholder="Centro" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5 ">
                             <div class="form-group">
                       <div class="input-group">
                          <input class="form-control" formControlName="actividad" tooltip="Actividad"
                            placeholder="Actividad" />
                        </div>
                      </div>
                        </div>
                      <span *ngIf="preg_2_tabla_2.controls.length > 1" >
                        <button type="button"(click)="removeCentroActividad(i)" class="btn btn-danger btn-xs mb-xs">borra</button>
                        
                    </span>
                      
                    </div>
                   </div>
                     <button (click)="addCentroActividad()" type="button" class="btn btn-success btn-xs mb-xs">Añade Centro/Actividad</button>
                 </div>
            </fieldset>
            <fieldset style="margin-top:40px">
                <legend><strong>ÓRGANO RECTOR</strong></legend>
                <div class="form-group row">
                    <label class="col-md-3  col-form-label text-md-right" for="preg_26">Denominación</label>
                    <div class="col-md-8 ">
                        <input type="text" formControlName="preg_26" class="form-control" tooltip="Denominación" placeholder="Denominación" />
                    </div>
                </div>
                 <div class="form-group row">
                     <h6>Composición de órgano</h6>
                    <label class="col-md-1  col-form-label text-md-right" for="preg_28">Mujeres</label>
                    <div class="col-md-2 ">
                        <input type="text" class="form-control" 
                        formControlName="preg_28"
                            tooltip="Mujeres"
                            placeholder="Mujeres" />
                    </div>
                  
                    <label class="col-md-1  col-form-label text-md-right" for="preg_29">Hombres</label>
                    <div class="col-md-2 ">
                        <input type="text" class="form-control" 
                        formControlName="preg_29"
                            tooltip="Hombres"
                            placeholder="Hombres" />
                    </div>

                    <label class="col-md-1  col-form-label text-md-right" for="total">Total</label>
                    <div class="col-md-2 ">{{(ifForm.controls.preg_28.value*1) + (ifForm.controls.preg_29.value*1)}}
                       
                    </div>
                  </div>
                
            </fieldset>


<fieldset style="margin-top:40px">
    <legend><strong>ESTRUCTURAS DE REPRESENTACIÓN DEL PERSONAL</strong></legend>
    <p>A continuación encontrará un listado de estructuras de representación, por favor marque frente a cada una de ellas si han sido constituidas en la organización o no.</p>
    <div class="form-group row">
                     <div class="col-md-6 ">
                          Comité de Empresa
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_31" id="preg_31si" value="si">   
                            <label for="preg_31si">Si</label>                    
                        </div>
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_31" id="preg_31no" value="no">    
                            <label for="preg_31no">No</label>                        
                        </div>
                    </div>
                 </div>

                 <div class="form-group row">
                     <div class="col-md-6 ">
                          Alguna/s sección/es sindicales
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                           <input type="radio" name="preg_32" id="preg_32si" value="si">
                            <label for="preg_32si">Si</label>
                        </div>
                    </div>
                     <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_32" id="preg_32no" value="no">
                            <label for="preg_32no">No</label>
                        </div>
                    </div>
                 </div>

                 <div class="form-group row">
                     <div class="col-md-6 ">
                          El comité de seguridad y salud
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_33" id="preg_33si" value="si">   
                            <label for="preg_33si">Si</label>                         
                        </div>
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                           <input type="radio" name="preg_33" id="preg_33no" value="no">
                            <label for="preg_33no">No</label>
                        </div>
                    </div>
                 </div>

                 <div class="form-group row">
                     <div class="col-md-6 ">
                          Un comité de empresa intercentros
                    </div>
                    <div class="col-md-1 ">
                       <div class="abc-radio">
                           <input type="radio" name="preg_34" id="preg_34si" value="si">
                           <label for="preg_34si">Si</label>
                        </div>
                    </div>
                     <div class="col-md-1 ">
                       <div class="abc-radio">
                           <input type="radio" name="preg_34" id="preg_34no" value="no">
                           <label for="preg_34no">No</label>
                        </div>
                    </div>
                 </div>

                 <div class="form-group row">
                     <div class="col-md-6 ">
                        Un comité de seguridad y salud intercentros
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_35" id="preg_35si" value="si">
                            <label for="preg_35si">Si</label>
                        </div>
                    </div>
                     <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_35" id="preg_35no" value="no">
                            <label for="preg_35no">No</label>
                        </div>
                    </div>
                 </div>

                 <p>A continuación encontrará un listado de estructuras de representación, por favor marque frente a cada de ellas si existen dentro de la organización.</p>

                 <div class="form-group row">
                     <div class="col-md-6 ">
                        Delegados/as de personal?
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_36" id="preg_36si" value="si">
                            <label for="preg_36si">Si</label>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_36" id="preg_36no" value="no">
                            <label for="preg_36no">No</label>
                        </div>
                    </div>
                 </div>
                 <div class="form-group row">
                     <div class="col-md-6 ">
                       Delegados/as sindicales?
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_37" id="preg_37si" value="si">
                            <label for="preg_37si">Si</label>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_37" id="preg_37no" value="no">
                            <label for="preg_37no">No</label>
                        </div>
                    </div>
                 </div>
                 <div class="form-group row">
                     <div class="col-md-6 ">
                        Delegados/as de prevención?
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_38" id="preg_38si" value="si">
                            <label for="preg_38si">Si</label>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                        <div class="abc-radio">
                            <input type="radio" name="preg_38" id="preg_38no" value="no">
                            <label for="preg_38no">No</label>
                        </div>
                    </div>
                 </div>
</fieldset>


            <fieldset>
                <legend><strong>Tipo de Movimiento</strong></legend>
                 <div formArrayName="preg_40_tabla_4">
                   <div *ngFor="let tipomov of preg_40_tabla_4.controls; let i=index" [formGroupName]="i" >
                      
                      <div class="row">
                        <div class="col-md-3 ">
                          <div class="form-group">
                           <div class="input-group">
                              <input class="form-control" formControlName="fecha" tooltip="Fecha"
                            placeholder="Fecha" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 ">
                             <div class="form-group">
                       <div class="input-group">
                          <input class="form-control" formControlName="mujeres" tooltip="Mujeres afectadas"
                            placeholder="Mujeres afectadas" />
                        </div>
                      </div>
                        </div>
                         <div class="col-md-3 ">
                             <div class="form-group">
                       <div class="input-group">
                          <input class="form-control" formControlName="hombres" tooltip="Hombres afectados"
                            placeholder="Hombres afectados" />
                        </div>
                      </div>
                        </div>

                      
                      <span *ngIf="preg_40_tabla_4.controls.length > 1" >
                        <button type="button"(click)="removeTipoMov(i)" class="btn btn-danger btn-xs mb-xs">borra</button>
                        
                    </span>
                      
                    </div>
                   </div>
                     <button (click)="addTipoMov()" type="button" class="btn btn-success btn-xs mb-xs">Añade Nuevo Órgano</button>
                 </div>
            </fieldset> 

            <div class="form-actions">
            <div class="row">
              <div class="offset-md-4 col-md-7 ">
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-inverse">Cancelar</button>
              </div>
            </div>
          </div>
        </form>
       