<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Salud Laboral y Prevención de riesgos laborales ligados al sexo</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Actuaciones de la organización en materia de <span class="fw-semi-bold">Prevención de riesgos laborales ligados al sexo</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">           
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic+'%'}"></progress>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>¿Han sido constituidas las siguientes estructuras en la organización?</p>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_251">
                                       El Comité de Seguridad y Salud
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_251">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_252">
                                      La Comisión Antiacoso
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_252">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="col-md-7 offset-md-2" style="margin-top:40px">
                                <p>De acuerdo a las acciones que la organización desarrolla responda las siguientes preguntas</p>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_254">
                                      La EVALUACIÓN de los riesgos laborales comprende los riesgos vinculados al sexo de las personas trabajadoras
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_254">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-7 offset-md-2">
                                    <label for="preg_255">
                                      El PLAN DE PREVENCIÓN comprende medidas de prevención y protección para  eliminar/reducir  los  riesgos  ligados  al  sexo  de  las personas trabajadoras
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <md-radio-group formControlName="preg_255">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <legend>ACTUACIONES DE LA ORGANIZACIÓN EN MATERIA DE PREVENCIÓN DE RIESGOS LABORALES RELACIONADOS CON
                                EL EMBARAZO, POTSPARTO Y LACTANCIA DE LAS TRABAJADORAS</legend>

                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS SOBRE EL FACTOR TÉCNICO
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº de casos
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_257">
                                      ¿Se ha adaptado técnicamente algún puesto de trabajo por razón de riesgo durante el embarazo?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_257">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_258" tooltip="Nº de casos" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_258'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_259">
                                      ¿Se ha adaptado técnicamente algún puesto de trabajo por razón de riesgo durante la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_259">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_260" tooltip="Nº de casos" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_260'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_261">
                                      ¿Se ha reducido el tiempo de trabajo a alguna trabajadora por razón de riesgo durante el embarazo o por riesgo durante la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_261">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_262" tooltip="Nº de casos" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_262'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_263">
                                     ¿Se ha suprimido el trabajo nocturno o a turnos a alguna trabajadora por razón de riesgo durante el embarazo o por riesgo durante la lactancia ¿Se ha reducido el tiempo de trabajo a alguna trabajadora por razón de riesgo durante el embarazo o por riesgo durante la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_263">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_264" tooltip="Nº de casos" placeholder="Nº de casos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_264'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS ORGANIZATIVAS (MOVILIDAD FUNCIONAL )
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº de puestos
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_271">
                                      ¿Se han identificado puestos de trabajo exentos de riesgo para el embarazo?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_271">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_272" tooltip="Nº de puestos" placeholder="Nº de puestos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_272'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>                           
                             <div class="row">
                                <div class="col-md-8 offset-md-2"><label for="preg_273">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_273" formControlName="preg_273" autosize placeholder="Puestos de trabajo exentos de riesgo para el embarazo"></textarea>
                                </div>
                            </div>

                            <div class="row" style="margin-top:40px">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_274">
                                      ¿Se han identificado puestos de trabajo exentos de riesgo para la lactancia?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_274">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_275" tooltip="Nº de puestos" placeholder="Nº de puestos" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_275'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>                            
                             <div class="row">
                                <div class="col-md-8 offset-md-2"><label for="preg_18">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_276" formControlName="preg_276" autosize placeholder="Puestos de trabajo exentos de riesgo para la lactancia"></textarea>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS LÍMITE: SUSPENSIÓN DEL CONTRATO DE TRABAJO
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Casos
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_281">
                                      ¿Se han concedido permisos disfrutados por riesgo durante el embarazo?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_281">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_282" tooltip="Casos" placeholder="Casos" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_282'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px" formGroupName="data">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-7 offset-md-2 text-md-center">
                                    MEDIDAS de MEJORA con respecto a la LEY
                                </div>
                                <div class="col-md-1 text-md-center">
                                    Nº de mejoras
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 offset-md-2">
                                    <label for="preg_286">
                                     ¿Existen medidas relativas a esta materia que supongan una mejora a lo que establece la ley o el convenio colectivo?
                                    </label>
                                </div>
                                <div class="col-md-2 text-md-center">
                                    <md-radio-group formControlName="preg_286">
                                        <md-radio-button value="si">Si</md-radio-button>
                                        <md-radio-button value="no">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-1 text-md-center">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="preg_287" tooltip="Nº de mejoras" placeholder="Nº de mejoras" />
                                        </div>
                                    </div>
                                    <div class="col-md-1 alert alert-danger" *ngIf="(ifForm.controls['data']).controls['preg_287'].errors?.number">
                                                     {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 offset-md-2"><label for="preg_23">En caso afirmativo, indicar cuáles</label></div>
                                <div class="col-md-8 offset-md-2">
                                    <textarea rows="3" class="autogrow form-control transition-height" id="preg_288" formControlName="preg_288" autosize placeholder="Mejora a lo que establece la ley o el convenio colectivo"></textarea>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                     <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>