<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Clasificación profesional II</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">TIPO <span class="fw-semi-bold">DE CONTRATACIÓN</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic+'%'}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                   <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>

 <accordion [closeOthers]="true" class="mb-lg show" id="accordion">
        <accordion-group>
            <div accordion-heading>
                Aclaración sobre tipos de relaciones contractuales
                <i class="fa fa-angle-down float-xs-right"></i>
            </div>
            <div>
                <div class="col-lg-12">
                    <section class="widget" widget>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <legend>
                                            <strong>Circunstancias familiares</strong>
                                        </legend>
                                        El RDL 5/2015 de 30 octubre, del Estatuto Básico del Empleado Público (EBEP) en su título II establece las clases de personal
                                        al servicio de las administraciones públicas.
                                        <br/><br/>
                                         Son empleados públicos quienes desempeñen funciones retribuidas en las Administraciones Públicas al servicio de los intereses
                                        generales. El personal empleado público se clasifica en:
                                        <ol type="a">
                                            <li>Funcionariado de carrera</li>
                                            <li>Funcionariado interinidad</li>
                                            <li>Personal laboral, ya sea fijo, por tiempo indefinido o temporal</li>
                                            <li>Personal eventual</li>
                                        </ol>                                        
                                        Personal directivo.- Es personal directivo el que desarrolla funciones directivas profesionales en las AAPP, definidas como tales en las normas específicas de cada Administración.
                                        
                                        <br/><br/>
                                        <div class="well">
                                            <strong>a. Funcionariado de carrera</strong><br/>
                                            Han superado un proceso selectivo de oposición, disponen de un nombramiento en el que se reconoce dicha condición y trabajan para la Administración Pública prestando funciones que implican la participación directa o indirecta en el ejercicio de las potestades públicas o en la salvaguardia de los intereses generales del Estado y de las Administraciones Públicas.  Poseen un vínculo estatutario hacia la administración de forma permanente. Se rigen por el Estatuto Básico del Empleado Público (EBEP).
                                            <br/><br/>
                                            <strong>b. Funcionariado interino</strong>
                                            Son aquellas personas que prestan servicios de carácter transitorio. Se rigen por el derecho administrativo y ocupan plazas que se hallan reservadas al funcionariado de carrera.
                                            <br/>
                                            El funcionariado interino ocupan transitoriamente plazas que han de ser ocupadas definitivamente por funcionariado de carrera o sustituyen a funcionariado que goza del derecho de reserva de plaza y destino. También pueden ser quienes se dedican a programas estrictamente temporales o para situaciones urgentes. El funcionariado interino y estatutario poseen un carácter estatutario temporal.
                                            
                                            <br/><br/>
                                            <strong>c. Personal laboral </strong><br/>
                                            El art. 11 del EBEP indica que son personal laboral los que “en virtud de contrato de trabajo formalizado por escrito, en cualquiera de las modalidades de contratación de personal previstas en la legislación laboral, presta servicios retribuidos por las Administraciones Pública”. Puede ser fijo, indefinido o temporal. Posee un carácter estatutario contractual-laboral.
                                            <br/><br/>

                                            <strong>d. Personal eventual </strong><br/>
                                            Es el personal empleado público que se nombra libremente en régimen no permanente. Ocupan un lugar de trabajo considerado de confianza o de asesoramiento no reservado a funcionariado.
                                            <br/><br/>
                                            
                                            <strong>d. Personal Laboral Fijo</strong><br/>
                                            Son empleados públicos y poseen un vínculo laboral (contractual) permanente con las Administraciones Públicas. Se rigen por el Estatuto de los Trabajadores (ET), por el Estatuto Básico del Empleado Público (EBEP) y convenios propios.
                                            <br/><br/>

                                            <strong>e. Personal Laboral Indefinido</strong><br/>
                                            El personal laboral indefinido es un caso muy especial: Éste personal es aquel que, mediante sentencia o reconocimiento administrativo, ha conseguido la plaza porque la Administración Pública los contrató con fraude de Ley. Debería ser personal laboral fijo, pero el Tribunal Supremo los ha equiparado al funcionariado de interinidad porque no han obtenido la plaza respetando los principios de igualdad, mérito y capacidad.
                                            <br/><br/>

                                            Aunque no sean empleados públicos, interesa conocer la composición de quienes realizan una labor para la administración, para analizar el principio de presencia equilibrada:
                                            <ul>
                                                <li><strong>Personal Político:</strong> No son personal empleado público, dado que su elección la realiza la ciudadanía haciendo uso de su poder democrático, nos interesa conocer su composición ya que realizan una labor para la administración.</li>
                                                <li><strong>Personas o empresas que son contratadas</strong> por la administración para desempeñar funciones públicas (se denominan asistencias técnicas): No son personal empleado público y su vínculo con la administración es contractual. Realizan labores específicas para las AAPP dado que éstas no disponen de puestos con igual labor que la realizada por alguna de estas personas. </li>
                                                <li><strong>Personal directivo:</strong> Se trata de personal, que puede ser o no empleado público, cuyas funciones son la alta dirección en unidades más o menos amplias de una administración. Su vínculo con las AAPP estará basado en un Estatuto específico.</li>
                                               
                                            </ul>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </accordion-group>
    </accordion>


<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend><strong>Tipos de relaciones contractuales</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Tipo de relación contractual</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_64_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_64_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_64_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_64_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_64_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_64_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                        <span *ngIf="getPregunta('preg_64_tabla_3').controls.length > 1">
                                        <button type="button"(click)="removeFila(ifForm.controls.preg_64_tabla_3, i,'preg_64_tabla_3')" class="btn btn-danger btn-xs mb-xs">Borrar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila(ifForm.controls.preg_64_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Relación</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_64_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_64_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_64_tabla_3) }}
                                    </div>
                                </div>
                            </div>
                            
                             <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_64_tabla_3)!= SumaMujeres() || getTotalHombres(ifForm.controls.preg_64_tabla_3) != SumaHombres() || getTotalTotal(ifForm.controls.preg_64_tabla_3)!= SumaTotal()">
                                <div class="col-md-10 offset-md-2">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información desglosada por TIPOS DE CONTRATO no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">
                        <p>En el caso que haber realizado contrataciones eventuales, rellene la siguiente tabla</p>
                        <fieldset>
                            <legend><strong>Personas contratadas a término definido / eventuales</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Tipo de Contrato Temporal</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_66_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_66_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_66_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_66_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_66_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_66_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                         <span *ngIf="getPregunta('preg_66_tabla_3').controls.length > 1">
                                        <button type="button"(click)="removeFila(ifForm.controls.preg_66_tabla_3, i,'preg_66_tabla_3')" class="btn btn-danger btn-xs mb-xs">Borrar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila(ifForm.controls.preg_66_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Tipo</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_66_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_66_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_66_tabla_3) }}
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">

                        <fieldset>
                            <legend><strong>ORGANIZACIÓN TIEMPO DE TRABAJO</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Organización</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_68_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_68_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" [readonly]="true" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_68_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_68_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_68_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_68_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_68_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_68_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_68_tabla_3) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_68_tabla_3)!= SumaMujeres() || getTotalHombres(ifForm.controls.preg_68_tabla_3) != SumaHombres() || getTotalTotal(ifForm.controls.preg_68_tabla_3)!= SumaTotal()">
                                <div class="col-md-10 offset-md-2">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información desglosada en ORGANIZACIÓN TIEMPO DE TRABAJO no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">

                        <fieldset>
                            <legend><strong>ANÁLISIS DE LA ANTIGÜEDAD</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Años de antigüedad </label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_69_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_69_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" [readonly]="true" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_69_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_69_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_69_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_69_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_69_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_69_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_69_tabla_3) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_69_tabla_3)!= SumaMujeres() || getTotalHombres(ifForm.controls.preg_69_tabla_3) != SumaHombres() || getTotalTotal(ifForm.controls.preg_69_tabla_3)!= SumaTotal()">
                                <div class="col-md-10 offset-md-2">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información desglosada en ANÁLISIS DE LA ANTIGÜEDAD no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px">

                        <fieldset>
                            <legend><strong>Distribución de la plantilla por Horas Semanales de trabajo</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Nº DE HORAS </label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_65_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_65_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" [readonly]="true" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_65_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_65_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_65_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_65_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_65_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_65_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_65_tabla_3) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_65_tabla_3)!= SumaMujeres() || getTotalHombres(ifForm.controls.preg_65_tabla_3) != SumaHombres() || getTotalTotal(ifForm.controls.preg_65_tabla_3)!= SumaTotal()">
                                <div class="col-md-10 offset-md-2">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información desglosada por Horas Semanales no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">
                        <p>En el caso de que haya personas que desarrollen su trabajo a turnos, especifique el tipo de turno</p>
                        <fieldset>
                            <legend><strong>Distribución de la plantilla por Turnos de trabajo</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Turnos </label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_67_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_67_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_67_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_67_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_67_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_67_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                        <span *ngIf="getPregunta('preg_67_tabla_3').controls.length > 1">
                                        <button type="button"(click)="removeFila(ifForm.controls.preg_67_tabla_3, i,'preg_67_tabla_3')" class="btn btn-danger btn-xs mb-xs">Borrar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 offset-md-2">
                                        <button (click)="addFila(ifForm.controls.preg_67_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Turnos</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_67_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_67_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_67_tabla_3) }}
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>