<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Clasificación profesional II</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">TIPO <span class="fw-semi-bold">DE CONTRATACIÓN</span></h1>
    </div>
    <div class="col-md-4">
        <div class="row progress-stats">
            <div class="col-md-9 col-xs-12">
                <p class="description deemphasize">Progreso de la pestaña</p>
                <div class="bg-white progress-bar">
                    <progress class="progress progress-sm progress-{{type}}" value="100" max="100" [ngStyle]="{'width': dynamic+'%'}"></progress>


                </div>
            </div>
            <div class="col-md-3 col-xs-12 text-xs-center">
                <span class="status rounded rounded-lg bg-body-light">
                                   <small><span number-animate>{{getValorBarra()}}</span>%</small>
                </span>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-lg-12">
        <section class="widget" widget>
            <div class="widget-body">
                <form class="form-horizontal" (ngSubmit)="onSubmit(ifForm)" [formGroup]="ifForm" role="form" novalidate>
                    <div class="section" style="margin-top:40px">
                        <fieldset>
                            <legend><strong>Tipos de relaciones contractuales</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Tipo de relación contractual</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_64_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_64_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_64_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_64_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_64_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_64_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                        <span *ngIf="getPregunta('preg_64_tabla_3').controls.length > 1">
                                        <button type="button"(click)="removeFila(ifForm.controls.preg_64_tabla_3, i,'preg_64_tabla_3')" class="btn btn-danger btn-xs mb-xs">borra</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-2">
                                        <button (click)="addFila(ifForm.controls.preg_64_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Relación</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_64_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_64_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_64_tabla_3) }}
                                    </div>
                                </div>
                            </div>
                            
                             <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_64_tabla_3)!= SumaMujeres() || getTotalHombres(ifForm.controls.preg_64_tabla_3) != SumaHombres() || getTotalTotal(ifForm.controls.preg_64_tabla_3)!= SumaTotal()">
                                <div class="col-md-10 offset-md-2">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información desglosada por TIPOS DE CONTRATO no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">
                        <p>En el caso que haber realizado contrataciones eventuales, rellene la siguiente tabla</p>
                        <fieldset>
                            <legend><strong>Personas contratadas a término definido / eventuales</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Tipo de Contrato Temporal</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_66_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_66_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" [readonly]="true" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_66_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_66_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_66_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_66_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_66_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_66_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_66_tabla_3) }}
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">

                        <fieldset>
                            <legend><strong>ORGANIZACIÓN TIEMPO DE TRABAJO</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Organización</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_68_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_68_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" [readonly]="true" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_68_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_68_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_68_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_68_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_68_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_68_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_68_tabla_3) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_68_tabla_3)!= SumaMujeres() || getTotalHombres(ifForm.controls.preg_68_tabla_3) != SumaHombres() || getTotalTotal(ifForm.controls.preg_68_tabla_3)!= SumaTotal()">
                                <div class="col-md-10 offset-md-2">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información desglosada en ORGANIZACIÓN TIEMPO DE TRABAJO no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">

                        <fieldset>
                            <legend><strong>ANÁLISIS DE LA ANTIGÜEDAD</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Años de antigüedad </label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_69_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_69_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" [readonly]="true" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_69_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_69_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_69_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_69_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_69_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_69_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_69_tabla_3) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="getTotalMujeres(ifForm.controls.preg_69_tabla_3)!= SumaMujeres() || getTotalHombres(ifForm.controls.preg_69_tabla_3) != SumaHombres() || getTotalTotal(ifForm.controls.preg_69_tabla_3)!= SumaTotal()">
                                <div class="col-md-10 offset-md-2">
                                    <div class="form-group">
                                        <div class="alert alert-danger">
                                            La información desglosada en ANÁLISIS DE LA ANTIGÜEDAD no coincide con los datos facilitados anteriormente, por favor, revíselos</div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="section" style="margin-top:40px">

                        <fieldset>
                            <legend><strong>Distribución de la plantilla por Horas Semanales de trabajo</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Nº DE HORAS </label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_65_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_65_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" [readonly]="true" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_65_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_65_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_65_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_65_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_65_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_65_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_65_tabla_3) }}
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="section" style="margin-top:40px">
                        <p>En el caso de que haya personas que desarrollen su trabajo a turnos, especifique el tipo de turno</p>
                        <fieldset>
                            <legend><strong>Distribución de la plantilla por Turnos de trabajo</strong></legend>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                        <label>Turnos </label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Mujeres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Hombres:</label>
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        <label>Total:</label>
                                    </div>
                                </div>
                            </div>
                            <div formArrayName="preg_67_tabla_3">
                                <div *ngFor="let datos of getPregunta('preg_67_tabla_3').controls; let i=index" [formGroupName]="i">

                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="texto" tooltip="{{datos.controls['texto'].value}}" placeholder="Denominación" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="mujeres" tooltip="Mujeres" placeholder="Mujeres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_67_tabla_3']).controls[i].controls['mujeres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="hombres" tooltip="Hombres" placeholder="Hombres" />
                                                </div>
                                                <div class="alert alert-danger" *ngIf="(ifForm.controls['preg_67_tabla_3']).controls[i].controls['hombres'].errors?.number">
                                                    {{serviceErrores.objetoErrores['numerico']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    {{ifForm.controls.preg_67_tabla_3.value[i].mujeres*1 + ifForm.controls.preg_67_tabla_3.value[i].hombres*1 }}
                                                </div>
                                            </div>
                                        </div>
                                        <span *ngIf="getPregunta('preg_67_tabla_3').controls.length > 1">
                                        <button type="button"(click)="removeFila(ifForm.controls.preg_67_tabla_3, i,'preg_67_tabla_3')" class="btn btn-danger btn-xs mb-xs">borra</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 offset-md-2">
                                        <button (click)="addFila(ifForm.controls.preg_67_tabla_3)" type="button" class="btn btn-success btn-xs mb-xs">Añade Turnos</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Mujeres:{{ getTotalMujeres(ifForm.controls.preg_67_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        Total Hombres:{{ getTotalHombres(ifForm.controls.preg_67_tabla_3) }}
                                    </div>
                                </div>
                                <div class="col-md-1 ">
                                    <div class="form-group">
                                        total suma:{{ getTotalTotal(ifForm.controls.preg_67_tabla_3) }}
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="form-actions" style="margin-top:40px">
                        <div class="row">
                            <div class="offset-md-4 col-md-7 ">
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(false)" class="btn btn-primary">Guardar cambios</button>
                                <button [disabled]="!ifForm.valid" type="button" (click)="onSubmit(true)" class="btn btn-success">Guardar y Continuar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>