@import "../../scss/variables";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


/***********************/
/*         Flot        */
/***********************/


.chart-tooltip{
  position: fixed;
  padding: $padding-small-vertical $padding-small-horizontal;
  border: 1px solid $gray-semi-lighter;
  font-size: $font-size-mini;
  background-color: $white;
}

